<%= biorails_form_for @task,
                     :url => task_output_file_path(@task),
                     :html => {:id => 'output_file_form'} do |form| %>

  <%= hidden_field_tag :id, params[:id] %>

  <%= form.select :process_version_file_template_id,
                  options_for_select(
                     @task.process.process_version_file_templates.collect {|x| [x.name, x.id]},
                    :selected => @task.process_version_file_template_id
                  ) %>

  <div id="preview">
    <h1><%= t('.preview') %></h1>
    <%= raw display_tsv(@task.generate_output_file_content) %>
  </div>

  <%= form.submit t('.generate') %>

<% end %>

<script type="text/javascript">
  <%= render :partial => 'shared/ajax_javascripts' %>
  jQuery('#result_task_process_version_file_template_id').on('change', function(){renew_form()});
</script>
