<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@task).html_safe %>
<% end %>

<%= content_for :breadcrumb do %>
  <% if @task %>
    <% breadcrumb = @task.project_element.self_and_ancestors %>
    <%= breadcrumbs(breadcrumb).html_safe %>
  <% end %>
<% end %>


<%= content_for :title do %>
  <%= t('.title', :task => @task) %>
<% end %>

<div id="form_holder">
  <%= render 'form' %>
</div>

<script type="text/javascript">
  function renew_form() {
    jQuery.get(
      '/task_output_files/<%= @task.id %>/renew_form',
      jQuery('#output_file_form').serialize()
    );
  }

</script>