<div class="content_header organisation">
  <%= render :partial => 'shared/help_link' %>
  <h1 class='icon icon-service-large'>
    <%= link_to t('.item_link', :queue => @queue_item.queue.name), request_service_path(@queue_item.queue.id) %>
  </h1>
  <br/>
  <br/>
</div>
