<%= render :layout => 'shared/modal_form',
           :locals => {
             :id => 'queue_item_history',
             :header => @queue_item.name,
             :object => [],
             :options => {:class => 'wide-modal'}
           } do
  render :partial => 'item_history'
end %>