<div class="portlet">
  <dl class='dl-horizontal'>
    <dt><%= @outline_queue.element_type.name %></dt>
    <dd><%= link_to "#{ @outline_queue.name}", outline_queue_path(:id => @outline_queue.id) %>
      (<%= @outline_queue.parameter.name %>)
    </dd>

    <dt><%= @user_request.element_type.name %></dt>
    <dd>
      <%= link_to @user_request.name, request_path(:id => @queue_item.request_id) %>
      (<%= t('queue_items.show.requested_by', :member => @user_request.requested_by_member, :due => short_date(@user_request.expected_at)) %>
      )
    </dd>

    <dt><%= t('activerecord.models.state.one') %></dt>
    <dd><%= @user_request.state %></dd>

    <dt><%= t('.request_details') %></dt>
    <dd><%= link_to @queue_item.request_row.label,
                    task_context_path(:id => @queue_item.request_task_context_id) if @queue_item.request_row %></dd>

    <dt><%= t('.run_details') %></dt>
    <dd><%= link_to @queue_item.result_row.label,
                    task_context_path(:id => @queue_item.result_task_context_id) if @queue_item.result_row %></dd>

    <% [:data_type, :data_name, :expected_at, :created_at].each do |column| %>
      <dt><%= QueueItem.human_attribute_name(column) %></dt>
      <dd><%= formatted_string(@queue_item.send(column)) %> &nbsp;</dd>
    <% end %>
  </dl>

</div>