<div class="portlet">
  <table class='table table-striped table-bordered'>
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.queue_item_history.state') %></th>
      <th><%= t('activerecord.attributes.queue_item_history.author') %></th>
      <th><%= t('activerecord.attributes.queue_item_history.entered_at') %></th>
      <th><%= t('activerecord.attributes.queue_item_history.days_old') %></th>
      <th><%= t('activerecord.attributes.queue_item_history.reason') %></th>
      <th><%= t('activerecord.attributes.queue_item_history.comment') %></th>
    </tr>
    </thead>
    <tbody>
    <% @queue_item.queue_item_histories.each do |history| %>
        <tr>
          <td>
            <%= history.state_name %>
          </td>
          <td>
            <%= history.entered_by_user.name %>
          </td>
          <td>
            <%= short_date(history.entered_at) %>
          </td>
          <td>
            <%= history.days_old %>
          </td>
          <td>
            <%= history.reason %>
          </td>
          <td>
            <%= history.comments %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>