<div class="portlet">

    <h2><%= t('.header', :queue_item => QueueItem.model_name.human) %></h2>

    <% if @queue_item.orders.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th><%= Order.human_attribute_name(:created_at) %></th>
            <th><%= Order.human_attribute_name(:name) %></th>
            <th><%= Order.human_attribute_name(:outline_queue_id) %></th>
            <th><%= Order.human_attribute_name(:order_profile_id) %></th>
            <th><%= CoastsOrder.human_attribute_name(:status) %></th>
          </tr>
          </thead>
          <tbody>
          <% @queue_item.orders.each do |order| %>
              <tr>
                <td><%= formatted_string order.created_at %></td>
                <td><%= link_to order.name, order_path(order) %></td>
                <td><%= link_to order.outline_queue_name, outline_queue_path(order.outline_queue) %></td>
                <td><%= link_to order.order_profile_name, order_profile_path(order.order_profile) %></td>
                <td><%= order.status %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <%= t('.no_orders_for_queue_item', :queue_item => QueueItem.model_name.human) %>
    <% end %>

    <h2><%= t('.sample_header', :sample => @queue_item.data_type.constantize.model_name.human) %></h2>
    <% if @queue_item.other_orders.any? %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th><%= Order.human_attribute_name(:created_at) %></th>
            <th><%= Order.human_attribute_name(:name) %></th>
            <th><%= Order.human_attribute_name(:outline_queue_id) %></th>
            <th><%= Order.human_attribute_name(:order_profile_id) %></th>
            <th><%= CoastsOrder.human_attribute_name(:status) %></th>
          </tr>
          </thead>
          <tbody>
          <% @queue_item.other_orders.each do |order| %>
              <tr>
                <td><%= formatted_string order.created_at %></td>
                <td><%= link_to order.name, order_path(order) %></td>
                <td><%= link_to order.outline_queue_name, outline_queue_path(order.outline_queue) %></td>
                <td><%= link_to order.order_profile_name, order_profile_path(order.order_profile) %></td>
                <td><%= order.status %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <%= t('no_orders_for_sample', :sample => @queue_item.data_type.constantize.model_name.human) %>
    <% end %>

</div>