<div class="portlet">
  <% stock_check = CoastsStockCheck.amount_for_order_profiles(@outline_queue.order_profiles,
                                                              [@queue_item.object.sample_id]) %>
  <% @outline_queue.order_profiles.each do |order_profile| %>
      <h2>
        <%= order_profile.name %>
        <% if order_profile.preferred %>
            (Preferred)
        <% end %>
      </h2>
      <% stock_levels = stock_check[order_profile.id][@queue_item.object.sample_id] %>
      <% if stock_levels and stock_levels.any? %>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th><%= CoastsOpu.model_name.human %></th>
              <th><%= t('.amount') %></th>
              <% if order_profile.subways? %>
                  <th><%= t('.tube_id') %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% stock_levels.each do |level| %>
                <tr>
                  <td><%= level['opu'] %></td>
                  <td><%= level['amount'] %></td>
                  <% if order_profile.subways? %>
                      <td><%= level['tube_id'] %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <%= t('.no_stock_message') %>
      <% end %>
  <% end %>
</div>