<div class="portlet">
  <div style="max-height:250px; overflow:auto">

    <% @sample = @queue_item.object %>
    <% if @sample and @sample.is_a?(CdbSample) %>
      <h2><%= t('.title', :sample => @sample.name) %></h2>

      <img src='<%= SystemSetting.sample_image_renderer_url ? "#{SystemSetting.sample_image_renderer_url}#{@sample.sample_id}".html_safe : "#" %>'/>

      <dl class="dl-horizontal">
        <% [
             :sample_id, :sample_code, :saltcode, :sample_batch, :chemical_name,
             :chemist, :comment_z, :date_of_submission, :lab_sample_id,
             :mol_weight_sample, :mol_weight_sample, :mol_formula_sample, :project
           ].each do |attribute| %>
          <dt><%= CdbSample.human_attribute_name attribute %></dt>
          <dd><%= @sample.send(attribute) %></dd>
        <% end %>

        <% phys_chem = @sample.phys_chem_props[0] %>
        <dt><%= RlSamplePhysChemProp.human_attribute_name(:purity) %></dt>
        <dd><%= phys_chem.purity if phys_chem %></dd>
      </dl>
    <% end %>
  </div>
</div>
