<div class="portlet">
  <div style="max-height:250px; overflow:auto">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.queue_item.request_id') %></th>
        <th><%= t('activerecord.attributes.queue_item.state_id') %></th>
        <th><%= Outline.model_name.human %></th>
        <th><%= OutlineQueue.model_name.human %></th>
        <th><%= t('.run') %></th>
        <th><%= QueueItem.human_attribute_name(:updated_at) %></th>
      </tr>
      </thead>
      <tbody>

      <% @queue_item.other_items.each do |item| %>
        <tr>
          <%= content_tag(:td, link_to(item.request.name, request_path(item.request_id))) %>
          <%= content_tag(:td, item.state.name) %>
          <%= content_tag(:td, link_to(item.queue.outline.name, outline_path(item.queue.outline_id))) %>
          <%= content_tag(:td, link_to(item.queue.name, outline_queue_path(item.outline_queue_id))) %>
          <%= content_tag(:td, item.result_task_context_id.blank? ? '' : link_to(t('activerecord.attributes.queue_item.result_task_id'), task_path(item.result_row.task_id))) %>
          <%= content_tag(:td, short_date(item.updated_at)) %>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>