<% form_tag upload_queue_items_path do %>
  <%= hidden_field_tag :id, @outline_queue.id %>
  <div class="pull-left">
    <%= text_area_tag :content, params[:content], :rows => 20, :cols => 50 %>
  </div>
  <div class="pull-left">
    <%= submit_tag t('.submit'), :style => "width:100px;padding:0.5em" %>
    <br/>
    <%= submit_tag t('.test'), :style => "width:100px;padding:0.5em" %>
  </div>
<% end %>