<% content_for :messages do %>
  <%= render :partial => '/shared/messages' %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe if defined? @project_folder %>
<% end %>

<%= content_for :title do %>
  <%= @project_folder.element_type %>: <%= @project_folder.name %>  : Items
<% end %>


<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@project_folder.reference) %>
<% end %>

<%= content_tag(:div,:id=>@query.dom_id).html_safe %>
<%= query_panel(@query, :cart => queue_carts_path(:outline_queue_id => @outline_queue.id, :query_id => @query.id)) %>
