<% content_for :messages do %>
  <%= render :partial => '/shared/messages' %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe if defined? @project_folder %>
<% end %>

<%= content_for :title do %>
  <%= @project_folder.element_type %>: <%= @project_folder.name %>
<% end %>


<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@project_folder.reference) %>
<% end %>


<%= render :partial => '/shared/report_panel' %>

