<% content_for :messages do -%>
    <%= render :partial => 'shared/messages', :locals => {:objects => ['queue_item']} %>
<% end %>

<%= content_for :title do %>
    <%= t('activerecord.models.queue_item') %>:
    <%= @queue_item.name %>
<% end %>

<%= content_for :breadcrumb do %>
    <%= breadcrumbs(@queue_item.queue.project_element.self_and_ancestors).html_safe %>
<% end %>

<div class="tab_form">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#history" data-toggle="tab"><%= t('.history') %></a></li>
    <li><a href="#details" data-toggle="tab"><%= t('.details') %></a></li>

    <li><a href="#cdb" data-toggle="tab"><%= t('.cdb') %></a></li>
    <li><a href="#stocks" data-toggle="tab"><%= t('.stocks') %></a></li>
    <li><a href="#orders" data-toggle="tab"><%= t('.orders') %></a></li>
    <li><a href="#others" data-toggle="tab"><%= t('.others') %></a></li>
  </ul>
  <div class="tab-content biorails_form_wrapper">
    <div class="tab-pane active" id="history">
      <%= render :partial => 'item_history' %>
    </div>
    <div class="tab-pane" id="details">
      <%= render :partial => 'item_details' %>
    </div>
    <div class="tab-pane" id="cdb">
      <%= render :partial => 'item_cdb' if @outline_queue.orderable? %>
    </div>
    <div class="tab-pane" id="stocks">
      <%= render :partial => 'item_stocks' if @outline_queue.orderable? %>
    </div>
    <div class="tab-pane" id="orders">
      <%= render :partial => 'item_orders' if @outline_queue.orderable? %>
    </div>
    <div class="tab-pane" id="others">
      <%= render :partial => 'item_others' if @queue_item.other_items.size>0 %>
    </div>
  </div>
</div>

<% content_for :footer do %>
    <%= render :partial => 'shared/audit', :locals => {:item => @queue_item} %>
<% end %>

