<%= handle_open_modal_js do %>
<%= escape_javascript(render :layout => 'shared/modal_form',
           :partial => 'item_history',
           :locals=>{:id=>'orderModal',
             :header => @queue_item.name,
             :object=>[],
             :options=>{:class=>'wide-modal'}
           }) %>
<% end %>