<%= render :partial => 'shared/folder_header', :locals => {:folder => @outline_queue.folder, :title => t('.header')} %>

<% content_for :messages do -%>
    <%= render :partial => 'shared/messages', :locals => {:objects => ['queue_item']} %>
<% end %>

<div class='display-form'>
  <%= t('.list_prompt') %>
</div>

<div>
  <div class="pull-left">
    <%= render :partial => 'upload_form' %>
  </div>

  <div class="pull-left">
    <% if @queue_items %>
        <h3 style='margin-top:0'><%= t('.search_results', :no_of_items=>@queue_items.size ) %></h3>
        <%= render :partial => 'queue_items', :locals => {:show_actions => false, :queue_items => @queue_items} %>
    <% end %>

    <% if @queue_items_for_data_names_not_found && @queue_items_for_data_names_not_found.size > 0 %>
        <h3><%= t('.search_results', :no_of_items=>@queue_items_for_data_names_not_found.size ) %></h3>

        <div style="padding-left:1em">
          <%= t('.not_found') %>
          <%= t('.match', :match_items=>@data_names_not_found.collect { |i| "'#{i}'" }.join(', ')) %>
        </div>
        <%= render :partial => 'organize/shared/queue_items', :locals => {:show_actions => false,
                                                                          :items => @queue_items_for_data_names_not_found} %>
    <% end %>
    <br style="clear:both"/>
  </div>
</div>
