<div id="cartModal" s class="modal fade wide-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= biorails_form_for(@queue_item, :url => queue_items_cart_path(@outline_queue),
                          :html => {:id => 'cart_form', :method => 'PUT'}) do |form| %>
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel" class="modal-title">
              Bulk Update  <%= @project_folder.name %>
            </h3>
          </div>
          <div class="modal-body">

            <div id="modal-messages" class="flash_messages">
              <%= render :partial => 'shared/messages', :locals => {:objects => ['cart', 'task', 'user_request', 'list']} %>
            </div>

            <%= hidden_field_tag :back_url, params[:back_url] %>
            <%= render :partial => 'update', :locals => {:form => form} %>
            <%= render :partial => 'queue_items', :locals => {:items => @cart.list} %>

          </div>

          <div class="modal-footer">

            <button type="button" class="cancel_button_block btn btn-link" data-dismiss="modal">
              <%= t('cancel') %>
            </button>

            <div class="pull-right">
              <%= form.submit :name => :submit_update, :class => "btn btn-success" %>
            </div>

          </div>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    <%= yield :jquery_on_ready %>
</script>


