<!-- params: items, query_id, model_name, queue_id, states, show_actions -->

<table class="table table-striped table-hover">
  <tr>
    <%= content_tag :th, t('.include') %>
    <%= content_tag :th,QueueItem.human_attribute_name(:data_name) %>
    <%= content_tag :th, t('.experiment') %>
    <%= content_tag :th, t('.request') %>
    <%= content_tag :th, t('.state') %>
    <%= content_tag :th, t('.priority_id') %>
  </tr>
  <% logger.info "number of items #{items.size} --------------------------------------------------------------------------" %>
  <% items.sort { |x, y| x.data_name <=> y.data_name }.each_with_index do |queue_item, idx| %>

    <% if queue_item.request %>
      <tr id="<%= queue_item.dom_id %>">
        <th> <%= selector_for_item(queue_item,idx)%> </th>
        <td> <%= link_to(queue_item.data_name, queue_item_path(queue_item.id)) %>          </td>
        <%= content_tag :td, queue_item.task ? link_to("#{queue_item.task_name}
               (#{queue_item.task_state_name})", task_path(@queue_item.task)) : ' '  %>
        <%= content_tag :td, link_to(queue_item.request.name, request_path(queue_item.request_id)) %>
        <%= content_tag :td, queue_item.state_name %>
        <%= content_tag :td, queue_item.priority %>

      </tr>
    <% end %>
  <% end %>
</table>
