
<%= form.select(:state_id,
                @cart.possible_state_options,
                {:include_blank => true, :style => "width:200px"}) %>
<%= form.select(
            :priority_id,
            Request.allowed_priority_list,
            {:include_blank => true, :style => "width:200px"}) %>
<div id='reason'>
  <%= form.combo_for_data_element(:last_state_change_reason,
                                  ListElement.find_by_name('reason_for_state_change'),
                                  {:include_blank => true}) %>
  <%= form.text_area :last_state_change_comment, :rows => 4, :columns => 80 %>
</div>

<br/>
<br/>

<script>
    //if the state we are changing to requires a reason, show the text box to enter it, and make it required
    jQuery(document).ready(

            function () {
                //hide the reason when the page first loads - the drop down has nothing selected.
                jQuery('#reason').addClass('visuallyhidden');

                jQuery('#queue_item__last_state_change_reason_display').change(function () {
                    console.log(jQuery(this).val());
                    if (jQuery(this).val() == 'Other') {
                        jQuery('#queue_item_last_state_change_comment').addClass('required');
                    }
                    else {
                        jQuery('#queue_item_last_state_change_comment').removeClass('required');
                    }
                })
                jQuery('#queue_item_state_id').change(function () {

                    var state = jQuery(this).val();

                    jQuery.getJSON('<%= is_reason_required_queue_item_path(@cart.list.first) %>', {state: jQuery(this).val()}, function (data) {
                        jQuery.each(data, function (key, val) {

                            if (val) {
                                jQuery('#reason').removeClass('visuallyhidden');
                                jQuery('#queue_item__last_state_change_reason_display').addClass('required')
                                jQuery('#queue_item_state_id').addClass('required');
                            }
                            else {
                                jQuery('#reason').addClass('visuallyhidden');
                                jQuery('#queue_item_state_id').removeClass('required');
                            }
                        });

                    });

                });
            });
</script>
