jQuery(".modal").modal('hide');
jQuery('#modal-container').html("<%=escape_javascript(render(:partial=>'cart_modal'))%>");
jQuery(".modal").modal({ show: true, backdrop: 'static', keyboard: true });
<%=render :partial => "shared/ajax_javascripts"%>

<%= handle_close_modal_js(false) %>
<%= handle_open_modal_js do %>
<%- escape_javascript(render :partial=>'assign_modal') -%>
<% end %>
