<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['cart', 'task', 'user_request', 'list']} %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe if defined? @project_folder %>
<% end %>

<%= content_for :title do %>
  <%= @project_folder.element_type %>: <%= @project_folder.name %>  : Cart
<% end %>


<%= biorails_form_for(@queue_item,:url => queue_items_cart_path(@outline_queue), :method => 'PUT') do |form| %>

    <%= hidden_field_tag :back_url,params[:back_url] %>

    <%= form.collection_select(:task_id,@outline_queue.active_tasks,:id,:name,
                               {:include_blank => '(remove from experiment)', :style => "width:200px"}) %>

    <%= render :partial => 'queue_items', :locals => {:items => @cart.list} %>

    <%= form.submit :name => :submit_assign %>
    <%= link_to_cancel params[:back_url] %>

<% end %>
