<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['cart', 'task', 'user_request', 'list']} %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe if defined? @project_folder %>
<% end %>

<%= content_for :title do %>
  <%= @project_folder.element_type %>: <%= @project_folder.name %>  : Cart
<% end %>

<%= biorails_form_for(@queue_item,
                      :url => queue_items_cart_path(@outline_queue),
                      :html => {:id => 'cart_form',:method => 'PUT'}) do |form| %>

    <%= hidden_field_tag :back_url,params[:back_url] %>
    <%= render :partial => 'update', :locals => {:form => form} %>
    <%= render :partial => 'queue_items', :locals => {:items => @cart.list} %>

    <%= form.submit :name => :submit_update %>

    <%= link_to_cancel params[:back_url] %>
<% end %>