<% content_for :messages do -%>
    <%= render :partial => 'shared/messages', :locals => {:objects => ['cart', 'task', 'user_request', 'list']} %>
<% end %>

<%= content_for :breadcrumb do %>
    <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe if defined? @project_folder %>
<% end %>

<%= content_for :title do %>
    <%= @project_folder.element_type %>: <%= @project_folder.name %>  : Cart
<% end %>


<%= biorails_form_for(@list, :url => queue_items_cart_path(@outline_queue), :method => 'PUT') do |form| %>
    <%= hidden_field_tag :back_url, params[:back_url] %>
    <%= form.text_field :name %>
    <%= form.text_area :description %>
    <%= form.submit :name => :submit_list %>
    <%= link_to_cancel params[:back_url] %>
    <br/>

    <%= render :partial => 'queue_items', :locals => {:items => @cart.list} %>

<% end %>
