
<% content_for :messages do %>
  <%= render :partial => '/shared/messages', :locals => {:objects => ['cart']} %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@outline_queue.project_element.self_and_ancestors).html_safe if defined? @outline_queue %>
<% end %>

<%= content_for :title do %>
  <%=@query.description%>
<% end %>

<%= content_for :local_navigation do %>
  <%= local_navigation_html(menu_actions(:query, @outline_queue)) %>
<% end %>

<% content_for :center do %>
    <div id='<%=@query.dom_id%>'></div>
<% end %>

<% content_for :header do%>
    <link rel="stylesheet" type="text/css" href="/javascripts/ext/plugins/filter_bar/resources/css/uxs.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/ext/plugins/filter_bar/resources/css/overrides.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/ext/plugins/filter_bar/resources/css/app.css" />

    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/ClearButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/OperatorButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/TextOperatorButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/DateOperatorButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/grid/column/ActionPro.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/grid/FilterBar.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/grid/AutoResizer.js"></script>
<% end %>

<%= content_for :ext_on_ready do %>
    <%= @query_manager.cart_grid({div:@query.dom_id,
                                 cart_url: cart_queue_items_cart_path(@outline_queue),
                                 back_url: queue_items_cart_path(@outline_queue)}) %>
<% end %>
