<div class='outline_queue' id="new_queue_form">

  <%= form.text_field :name, {required: true, label: 'Queue Name'} %>
  <%= form.text_area :description, :rows => 2, :cols => 80 %>
  <%= form.collection_select(:element_type_id,
                             ElementType.find_all_by_class_name('OutlineQueue'), :id, :name,
                             {required: true, label: 'Queue Type'},
                             {:disabled => !existing_queue?}) %>

  <%= form.collection_select(:outline_parameter_id,
                             @outline.outline_parameters.subject_for_assays.all, :id, :name,
                             {:required => true},
                             {:disabled => !existing_process?}) %>

  <%= form.collection_select(:process_definition_id,
                             @outline.process_definitions, :id, :name,
                             {:required => false,:include_blank => true}) %>

  <%= form.select_member(:assigned_member_id, @project_folder) if @project_folder %>

  <%= form.select(:location_id,
                  @data_element.values.collect { |i| [i.name, i.id] },
                  {:disabled => !@outline_queue.new_record?,
                   :include_blank => !@data_element.nil?}) if @data_element %>

  <%= form.text_field :capacity %>
  <%= form.text_field :expected_duration_days %>

  <div class="clearfix control-group">
    <%= label_tag("active_auto_state_change", t('.auto_state_change_label'), :class => 'control-label') %>
    <div class="controls">
      <%= check_box_tag("active_auto_state_change", "1", outline_queue_auto_timeout_active?) %>
      <div class='help help-inline'><%= t('.auto_state_change') %></div>
    </div>
  </div>
  <%= form.text_field :auto_timeout_days %>
  <%= form.collection_select :auto_timeout_state_id,
                             QueueItem.allowed_states_for_automatic_state_changes(), :id, :name,
                             {:include_blank => true} %>

</div>

<div id='order_profiles'>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= OrderProfile.human_attribute_name(:name) %></th>
        <th><%= OrderProfile.human_attribute_name(:coasts_order_type) %></th>
        <th><%= OrderProfile.human_attribute_name(:reference_compounds) %></th>
        <th><%= OrderProfile.human_attribute_name(:preferred) %></th>
      </tr>
    </thead>
    <tbody>
      <% @outline_queue.order_profiles.each do |order_profile| %>
        <tr>
          <td><%= order_profile.name %></td>
          <td><%= order_profile.coasts_order_type.name %></td>
          <td><%= raw order_profile.reference_compounds.collect { |x| x.sample_code }.join('<br/>') %></td>
          <td><%= radio_button_tag "preferred_profile", 'true', order_profile.preferred,
                                   :onclick => "set_preferred(#{order_profile.id});" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%# hidden field carrys radio selection %>
  <div style='display:none;'>
    <%= form.text_field :preferred_order_profile_id, :id => 'preferred_profile_field' %>
  </div>

  <script type='text/javascript'>
    function set_preferred(id) {
      jQuery('#preferred_profile_field').val(id)
    }


  </script>

</div>
