<%= render :partial => 'project_folders/header', :locals => {:folder => @process_version.folder} %>


<%= biorails_form_for @process_version,
                      :html => {:id => 'process_version_form'} do |form| %>

  <%= hidden_field 'process_definition', 'id' %>
  <%= hidden_field('process_definition', 'outline_id') %>
  <%= hidden_field('process_definition', 'current_process_id') %>
  <%= hidden_field 'process_version', 'process_definition_id' %>

  <%= form.text_field :name, disabled: @process_version.released? %>

  <%= form.text_area :description, {:rows => 5, :cols => 80} %>

    <%= form.labelled_text :state_name,@process_version.state_name %>
    <%= form.labelled_text :status,@process_version.status_summary %>
    <%= form.labelled_text :tasks, @process_version.tasks.count-1 %>

  <%= form.text_field :min_queue_items %>
  <%= form.text_field :max_queue_items %>
  <%= form.text_field :runs_per_week %>
  <%= form.text_field :expected_days %>
  <%= form.check_box(:restricted) if @process_version.input?  %>

  <br style="clear:both"/>
  <%= properties_list(@process_version, [:multiple_levels, :multiple_steps, :is_queue_linked, :used_for_requests, :used_for_results]) %>
  <br style="clear:both"/>
  <%= form.submit %>
  <%= link_to_cancel process_version_path(@process_version) %>

<% end %>

<%= button_to_delete(@process_version) unless @process_version.released? %>
<br style="clear:both"/>



