<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe %>
<% end %>
<%= content_for :title do %>
  <%= t('.title') %>
<% end %>
<%= biorails_form_for @new_process_version do |form| %>
  <%= hidden_field_tag :id, params[:id] %>

  <%= form.text_field :name %>

  <%= form.text_area :description, {:rows => 5, :cols => 80} %>

  <%= form.text_field :min_queue_items %>
  <%= form.text_field :max_queue_items %>
  <%= form.text_field :runs_per_week %>
  <%= form.text_field :usage_style %>
  <%= form.text_field :expected_days %>
  <%= form.check_box :restricted %>


  <%= form.collection_select(:element_type_id, ElementType.find_all_by_class_name('ProcessVersion'), :id, :name) %>

  <br style="clear:both;"/>


  <% if @files.any? %>
    <h3><%= t('.description') %></h3>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th colspan="2">
            <%= check_box_tag "toggle_all_copy", 1, true, {:onchange => "update_total();"} %>
            <%= t('.file_name') %></th>
        </tr>
      </thead>
    </table>
    <table class="table table-striped table-hover">
      <tbody>
        <% @files.each do |file| %>
          <tr>
            <td>
              <label>
                <%= check_box_tag "copy[]", file.id, true, {:id => file.dom_id('copy'), :onchange => "update_total();"} %>
                <span class="icon <%= file.icon_class %>"></span>
                <%= file.name %>
              </label>
            </td>
            <td><%= file.style %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    Total: <span id='file_size'><%= @files.size %></span>
  <% end %>
  <%= form.submit %>
  <%= link_to_cancel process_version_path(@process_version) %>
<% end %>




<% content_for :header do %>
  <script type="text/javascript">
    function update_total() {
      var size = jQuery("input[name=copy\\[\\]]:checked").size();
      jQuery('#file_size').text(size);
    }

    jQuery(document).ready(function () {
      update_total();
      var toggle_check_box = jQuery("input[name=toggle_all_copy]")
      var checkBoxes = jQuery("input[name=copy\\[\\]]");

      toggle_check_box.click(function () {
        checkBoxes.attr("checked", toggle_check_box.attr("checked"));
      });


    });
  </script>
<% end %>
