<div class="span9">
  <div class="row">
    <%= render partial: '/experiment_items/queue_items', locals: {outline_queue: outline_queue}  %>
  </div>
</div>
<div class="span3" style="display:none">
  <div id="experiment_items" >
    <%= render partial: '/experiment_items/experiment_items' %>
  </div>
  <br style="clear:both"/>
  <div id = 'add'>
    <%= link_to t('.add_to_experiment'),  '#', id: 'move_to_experiment', class: 'btn btn-primary'%>
  </div>
  <div id="no_items">
  <%= t('.no_queue_items') %>
  </div>

  <div id = 'first_n'>
    <div class="container_fluid">
      <div class="row pagination-centered">
        <div class="input-prepend">
          <%= link_to t('.allocate'),  '#', id: 'select_items', class: 'btn btn-primary'%>
        </div>
        <div class="input-prepend">
          <%= number_field_tag('items', 1,:min => '1',:max=>'50', :class=>'no_bottom_margin span10', id: 'number_of_items')  %>
        </div>
        <div class="input-prepend">
          <label> <%= t('.items_from_queue')%></label>
        </div>
      </div>
    </div>
   </div>

</div>


<%= content_for :ext_on_ready do %>

    function move_items(queue_item_ids)
    {

        jQuery.ajax({type: "PUT",
                url: "<%= experiment_item_url(@result_task)%>",
                dataType: 'script',
                data: { queue_item_ids: queue_item_ids},
                success: function (result) {
                    Ext.getCmp("ExperimentQueryPanel").store.load();
                    Ext.getCmp("ExperimentQueryPanel").resetSelection();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                    alert(xhr.responseText);
                }
        });
    }

    jQuery(document).ready(function(){
        jQuery('#select_items').click(function() {
            var number_of_items = parseInt( jQuery('#number_of_items').val() );
            var queue_item_ids = Ext.getCmp("ExperimentQueryPanel").getItems(number_of_items);
            move_items(queue_item_ids);
        });

        jQuery('#move_to_experiment').click(function() {
            var queue_item_ids = Ext.getCmp("ExperimentQueryPanel").selected_list;
            move_items(queue_item_ids);
        });

        jQuery('div.span3').show();
        jQuery('div#add').hide();
        jQuery('div#no_items').hide();
    });
<% end %>

<div id="js_tag">

</div>
