<legend><%= t('.in_experiment') %> </legend>
<label>
  No. of items: <%= @result_task.queue_items.length %>
</label>
<label>
  <% if @result_task.process.try(:max_queue_items) %> Capacity: <%= @result_task.process.try(:max_queue_items) %> <%end%>
</label>


<table id='experiment_table_id' class='table table-striped table-condensed' style="position:relative">
  <tr>
    <th><%= t('name') %></th>

    <th><%= link_to 'All',  '#', id: 'All'%></th>
  </tr>
  <% @result_task.queue_items.each do |queue_item| %>
    <tr>
      <td class="popup" ><%=queue_item.name%>
        <table class="modal_popup">
          <tr><th colspan="2"><%= t('.queue_item_details') %></th></tr>
          <tr><td><%= t('.state') %></td><td><%=queue_item.state.name %></td></tr>
          <tr><td><%= t('.service') %></td><td><%=queue_item.queue.name %></td></tr>
          <tr><td><%= t('.method') %></td><td><%=queue_item.outline_method.try(:name) %></td></tr>
          <tr><td><%= t('created_at') %></td><td><%= short_date(queue_item.created_at) %></td></tr>
          <tr><td><%= t('.data_priority') %></td><td><%=queue_item.data_priority.try(:name) %></td></tr>
          <tr><td><%= t('.request') %></td><td><%=queue_item.request_name %></td></tr>
        </table>
      </td>
      <td><%= link_to 'Remove',  '#', id: "item_#{queue_item.id}", class: 'move_to_queue'%></td>
    </tr>
  <% end %>
</table>



<%= content_for :ext_on_ready do %>
    jQuery('.modal_popup').hide();

    jQuery('document').ready(function(){
        jQuery('.popup').hover(
        function(){
                jQuery(this).find('table').show();
            },
            function(){
                jQuery(this).find('table').hide();
        });
    });

    jQuery('.move_to_queue').click(function() {
        var queue_item_ids = [];
        queue_item_ids[0] = jQuery(this).attr('id').substr(5);
        jQuery.ajax({type: "PUT",
            url: "<%= experiment_item_path(id: @result_task.id)%>",
            dataType: 'script',
            data: { remove: true, queue_item_ids: queue_item_ids},
            success: function (result) {
                Ext.getCmp("ExperimentQueryPanel").store.load();
                jQuery('#no_items').hide();
            }
        });
    });

    jQuery('#All').click(function() {
        jQuery.ajax({type: "DELETE",
            url: "<%= experiment_item_path(id: @result_task.id)%>",
            dataType: 'script',
            success: function (result) {
                Ext.getCmp("ExperimentQueryPanel").store.load();
            }
        });
    });

<% end %>