<% content_for :header do%>
    <link rel="stylesheet" type="text/css" href="/javascripts/ext/plugins/filter_bar/resources/css/uxs.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/ext/plugins/filter_bar/resources/css/overrides.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/ext/plugins/filter_bar/resources/css/app.css" />

    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/ClearButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/OperatorButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/TextOperatorButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/form/field/DateOperatorButton.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/grid/column/ActionPro.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/grid/FilterBar.js"></script>
    <script type="text/javascript" src="/javascripts/ext/plugins/filter_bar/ux/grid/AutoResizer.js"></script>
<% end %>



<div id="gridcontents"></div>

<% content_for :ext_on_ready do %>
    <%= QueryEngine::ExtMapper.new(@query).experiment_grid( 'gridcontents', {outline_queue_id: outline_queue.id }) %>
<% end %>
