jQuery('#messages').html("<%= escape_javascript(render :partial => 'shared/messages')%>");

<% if @result_task.errors.empty? %>
    Ext.getCmp("ExperimentQueryPanel").store.load();
    Ext.getCmp("ExperimentQueryPanel").resetSelection();
    jQuery('#experiment_items').html('<%= escape_javascript(render partial: "experiment_items/experiment_items")%>');
    jQuery('#js_tag').html('<script type="text/javascript"><%= escape_javascript(render partial: "shared/ajax_javascripts")%></script>');
<% end %>