{% data_row %}
  method_id
  queue_item_id
  request_id
  sample_id
  {{ task.task_sheet_headers }}
{% enddata_row %}
{% for row in task.rows %}
  {% data_row %}
    {{row.method_id}}
    {{row.queue_item_id}}
    {{row.request_id}}
    {{row.sample.sample_id}}
    {{row.task_sheet_row}}
  {% enddata_row %}
{% endfor %}