{% data_row %}
  method_id
  queue_item_id
  request_id
  sample_id
  method_name
  method_description
  method_version
  method_modification
  method_abbreviation
  method_title
  method_type
  method_class
  {{ task.task_sheet_headers }}
{% enddata_row %}
{% for row in task.rows %}
  {% data_row %}
    {{row.method_id}}
    {{row.queue_item_id}}
    {{row.request_id}}
    {{row.sample.sample_id}}
    {{row.cdb_method.name}}
    {{row.cdb_method.description}}
    {{row.cdb_method.version}}
    {{row.cdb_method.modification}}
    {{row.cdb_method.abbreviation}}
    {{row.cdb_method.title}}
    {{row.cdb_method.type}}
    {{row.cdb_method.method_class}}
    {{row.task_sheet_row}}
  {% enddata_row %}
{% endfor %}