{% data_row %}
  method_id
  queue_item_id
  request_id
  sample_id
  mol_weight
  formula
  solubility
  purity
  boiling point
  melting point
  rotation
  {{ task.task_sheet_headers }}
{% enddata_row %}
{% for row in task.rows %}
  {% data_row %}
    {{row.method_id}}
    {{row.queue_item_id}}
    {{row.request_id}}
    {{row.sample.sample_id}}
    {{row.sample.mol_weight}}
    {{row.sample.formula}}
    {{row.sample.solubility}}
    {{row.sample.purity}}
    {{row.sample.boiling_point}}
    {{row.sample.melting_point}}
    {{row.sample.rotation}}
    {{row.task_sheet_row}}
  {% enddata_row %}
{% endfor %}