{% data_row %}
   method_id
   queue_item_id
   sample
   volume
   concentration
   formal_concentration
   amount
   solvent
   plate_code
   plate_col
   plate_row
{% enddata_row %}
{% for row in task.rows %}
  {% data_row %}
    {{ row.method_id }}
    {{ row.queue_item_id }}
    {{ row.sample.name }}
    {{ row.well.volume }} {{row.well.volume_unit }}
    {{ row.well.concentration }} {{row.well.concentration_unit }}
    {{ row.well.formal_concentration }}
    {{ row.well.amount }} {{ row.well.unit }}
    {{ row.well.solvent }}
    {{ row.well.plate_code }}
    {{ row.well.plate_col }}
    {{ row.well.plate_row }}
  {% enddata_row %}
{% endfor %}