<div id="drag">
  <table class="table-condensed table-bordered consolidation_table"
         id="consolidation_table">
    <thead>
      <tr>
        <% row_length = @task.dilution_map.length %>
        <% row_length.times do |idx| %>
          <th>
            <%= idx + 1 %>
            <br/>
            <% dilution_map_slot = @task.dilution_map.dilution_map_slots.find_by_position(idx) %>
            <%= if dilution_map_slot
                  dilution_map_slot.slot_type
                else
                  'blank'
                end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% sample_positions = @task.dilution_map.dilution_map_slots.sample.collect { |x| x.position } %>
      <% @plate_data_store.dilution_slot_rows.each do |row| %>
        <tr>
          <% @task.dilution_map.length.times do |cell| %>
            <% dilution_slot = row.detect { |x| x.column_no == cell if x } %>
            <% if dilution_slot %>
              <% if dilution_slot.slot_type == 'samp' %>
                <% kls = dilution_slot.marked ? 'marked' : '' %>
                <td>
                  <div id="<%= dilution_slot.id %>"
                       title="<%= dilution_slot.summary %>"
                       class="drag <%= kls %> samp"
                       style="background-color:<%= dilution_slot.colour %>;">
                    <%= dilution_slot.source_string %>
                  </div>
                </td>
              <% else %>
                <td>
                  <div id="<%= dilution_slot.id %>"
                       class="<%= dilution_slot.slot_type %>"
                       title="<%= dilution_slot.summary %>">
                    <%= dilution_slot.source_string %>
                  </div>
                </td>
              <% end %>
            <% else %>
              <% if sample_positions.detect { |x| x == cell } %>
                <td class="empty"></td>
              <% else %>
                <td class="empty blank"></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>