jQuery(document).ready(function () {
  var rd = REDIPS.drag;

  rd.nonDropColumns = <%= (0..@task.dilution_map.length).to_a - @task.dilution_map.dilution_map_slots.sample.collect{|x|x.position}%>

  rd.init();
  rd.dropMode = 'switch';
  rd.event.droppedBefore = function (cell) {
    var col = jQuery(cell).parent().children().index(cell);
    if (rd.nonDropColumns.indexOf(col) != -1) {
      return false;
    }
    if (jQuery(cell).prop('tagName')=='TH'){
      return false;
    }
  };


});