<%= biorails_form_for @task, :url => task_dilution_slots_path(@task) do |form| %>

  <%= render :partial => 'dilution_maps/diagram' %>

  <%= form.select(
        :consolidation_algorithm,
        options_for_select(@task.process_version.consolidation_algorithm_options)
      )
  %>

  <%= form.submit t('.run_consolidation') %>

<% end %>