<div class="plate_thumbnail_holder">
  <%= t('.individual_samples') %>
  <table class="plate_thumb_table table-bordered well_thumb">
    <% @task.cdb_samples.in_groups_of(8) do |row| %>
      <tr class="plate_thumb_well">
        <% row.each do |sample| %>
          <% if sample %>
            <% colour_index = @task.colour_index_for(sample.sample_id) %>
            <td class="plate_thumb_well"
                style="background-color:<%= CoastsPlate.plate_colour(colour_index) %>;">
              <%= sample.to_s %>
            </td>
          <% else %>
            <td class="plate_thumb_well plate_thumb_well_empty"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>