<div class="plate_thumbnail_holder">
  <%= t('.individual_wells') %>
  <table class="plate_thumb_table table-bordered well_thumb">
    <% @task.coasts_plate_wells.in_groups_of(8) do |row| %>
      <tr class="plate_thumb_well">
        <% row.each do |well| %>
          <% if well %>
            <% colour_index = @task.colour_index_for(well.plat_tube_barcode) %>
            <td class="plate_thumb_well"
                style="background-color:<%= CoastsPlate.plate_colour(colour_index) %>;">
              <%= well.to_s %>
            </td>
          <% else %>
            <td class="plate_thumb_well plate_thumb_well_empty"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>