<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['task']} %>
<% end %>

<%= content_for :title do %>
  <%= "#{@task.element_type.name}: #{@task.name} - #{t('.title')}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @task.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>

<div id="main_form">

  <%= render :partial => 'new_form' %>

</div>