<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['task']} %>
<% end %>

<%= content_for :title do %>
  <%= "#{@task.element_type.name}: #{@task.name} - #{t('.title')}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @task.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>


<div class="biorails_form_wrapper">
  <% @plate_data_store.coasts_plates.in_groups_of(2).each do |row_of_plates| %>
    <div class="row" id="plate_holder">
      <% row_of_plates.each do |coasts_plate| %>
        <% if coasts_plate %>
          <div class='span6'>
            <%= render :partial => 'coasts_plates/thumbnail_diagram',
                       :locals => {
                         :coasts_plate => coasts_plate,
                         :index => (@task.colour_index_for(coasts_plate.plate_code)),
                         :mode => 'coord'
                       } %>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>

  <% if @plate_data_store.scanned_coasts_plate_wells.any? %>
    <div class="row" id="plate_holder">

      <div class='span6'>
        <%= render :partial => 'well_diagram' %>
      </div>
    </div>
  <% end %>

  <% if @plate_data_store.cdb_samples.any? %>
    <div class="row" id="plate_holder">

      <div class='span6'>
        <%= render :partial => 'sample_diagram' %>
      </div>
    </div>
  <% end %>


  <div class="row" id="result_holder">

    <div class='span12'>

      <h2><%= t('.result_title') %></h2>

      <% if right?(Role::MODULE_TASK, Role::RIGHT_USE ) %>
        <span class="help inline"><%= t('.drag_help') %></span>
        <br/>
        <br/>
    <% else %>
        <div class="alert warning">
          <button class="close" data-dismiss="alert">x</button>
          <%= t(".no_rights_to_change") %>
        </div>
      <% end %>
      <div class="consolidation_table_holder">
        <%= render 'consolidation_result_table' %>
      </div>
      <% if right?(Role::MODULE_TASK, Role::RIGHT_BUILD) and @task.changeable? %>
        <br/>
        <div>
          <%= link_to_function t('.save_changed_slots'), "save_changed_slots();", :class => "btn btn-success" %>

          <%= link_to_function t('.reset'), "reset_slots();", :class => "btn btn-primary" %>
        </div>

      <% end %>

    </div>

  </div>
</div>


<% if right?(Role::MODULE_TASK, Role::RIGHT_BUILD) and @task.changeable? %>
  <%= content_for :header do %>
    <%= javascript_include_tag 'redips-drag-min' %>
    <%= stylesheet_link_tag 'bi/plate_thumbs' %>
  <% end %>

  <script type="text/javascript">
    function save_changed_slots() {
      var result = JSON.parse(REDIPS.drag.saveContent('consolidation_table', 'json'));
      jQuery.post(
        "/tasks/<%= @task.id %>/dilution_slots",
        {dilution_slot_positions: result},
        function(){ window.location.href = "<%= task_path(@task) %>" }
      )
    }
    ;

    function reset_slots() {
      var result = JSON.parse(REDIPS.drag.saveContent('consolidation_table', 'json'));
      jQuery.post(
        "/tasks/<%= @task.id %>/dilution_slots",
       {}
      )
    }
    ;

    <%= render :partial => 'init_redips_drag.js' %>
  </script>
<% else %>
  <%= content_for :header do %>
    <%= stylesheet_link_tag 'bi/plate_thumbs' %>
  <% end %>
<% end %>