jQuery('.consolidation_table_holder').html("<%= escape_javascript(render 'consolidation_result_table') %>")
<%= render :partial => 'init_redips_drag.js' %>
jQuery('#messages').html("<%=escape_javascript(render :partial => 'shared/messages')%>");
