<div class="add_items">
  <div class="tab-content">
    <div class="add_box tab-pane active">

      <%= hidden_field_tag :task_id, params[:task_id] %>

      <%= t('.reference_type') %>

      <%= select_tag(
            :reference_type,
            options_for_select(TaskBarcode.reference_types, :selected => params[:reference_type]),
            {:style => "width:340px;"}
          ) %>
      <br style="clear:both;"/>

      <div style="<%= 'display:none;' if @task %>">
        <%= t('.default_task') %>
        <%= render(
              :partial => 'task_lookup_field',
              :locals => {
                :id => 'default_task_id',
                :name => 'default_task_id',
                :object => @default_result_task
              }
            )
        %>
        <br style="clear:both;"/>
      </div>


      <%= t('.reference_codes') %>
      <%= text_area_tag 'reference_codes', '', {:rows => 11, :style => "width:326px;"} %>

      <br style="clear:both;"/>

      <%= submit_tag t('add'), :class => "btn btn-primary pull-right" %>

    </div>
  </div>
</div>