<% if @task_barcodes and @task_barcodes.any? %>
  <% @i = -1 %>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th><%= TaskBarcode.human_attribute_name(:reference_type) %></th>
        <th><%= TaskBarcode.human_attribute_name(:reference_code) %></th>
        <th><%= TaskBarcode.human_attribute_name(:task_id) %></th>
        <th><%= Task.human_attribute_name(:assigned_user) %></th>
        <th>
          <%= TaskBarcode.human_attribute_name(:plates) %>
          <%= link_to_function t('hide'),
                               'toggle_diagrams();',
                               :id => 'show_hide_link' %>
        </th>
        <% if @task and @task.changeable? %>
          <th><%= t('actions') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @task_barcodes.each do |task_barcode| %>
        <tr>
          <td><%= task_barcode.reference_type %></td>
          <td>
            <% if task_barcode.reference_type == 'Order' %>
              <%= link_to task_barcode.reference_code, order_path(task_barcode.reference) %>
            <% else %>
              <%= task_barcode.reference_code %>
            <% end %>
          </td>
          <td>
            <%= link_to task_barcode.task_name, task_path(task_barcode.task) %>
          </td>
          <td><%= task_barcode.task.assigned_member.user_name if task_barcode.task.assigned_member %></td>
          <td>
            <%= render :partial => 'plate_summary',
                       :locals => {:task_barcode => task_barcode} %>
          </td>
          <% if @task and @task.changeable? %>
            <td>
              <% if task_barcode.deletable? %>
                <%= button_to(
                      t('delete'),
                      task_barcode_path(task_barcode),
                      {
                        :method => :delete,
                        :class => "btn btn-danger btn-small",
                        :confirm => t('warning.delete_confirmation')
                      }
                    ) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
