<% if @task_barcodes and @task_barcodes.any? %>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th><%= TaskBarcode.human_attribute_name(:reference_type) %></th>
        <th><%= TaskBarcode.human_attribute_name(:reference_code) %></th>
        <th><%= TaskBarcode.human_attribute_name(:task_id) %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @task_barcodes.each_with_index do |task_barcode, index| %>
        <tr class='<%= 'error' if @dups and @dups.include?(task_barcode) %>'>
          <td>
            <%= hidden_field_tag "task_barcodes[#{index}][id]", task_barcode.id %>
            <%= hidden_field_tag "task_barcodes[#{index}][reference_type]", task_barcode.reference_type %>
            <%= hidden_field_tag "task_barcodes[#{index}][reference_code]", task_barcode.reference_code %>
            <%= task_barcode.reference_type %>
          </td>
          <td><%= task_barcode.reference_code %></td>
          <td>
            <%= render(:partial => 'task_lookup_field',
                       :locals => {
                         :id => "task_barcodes_#{index}__task_id_",
                         :name => "task_barcodes[#{index}][task_id]",
                         :object => task_barcode.task
                       }
                )
            %>
          </td>
          <td><%= link_to_function t('.remove'), "delete_barcode(#{task_barcode.id});" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <script type="text/javascript">
    function delete_barcode(barcode_id) {
      jQuery.ajax({
        type: 'DELETE',
        url: '/task_barcodes/'+barcode_id,
        data: jQuery('#check_in_form').serialize()
      })
    }
  </script>
<% end %>
