<% case task_barcode.reference_type %>
<% when 'CoastsPlateWell' %>
  <%= t('.well_summary', :sample => task_barcode.reference.sample.to_s.strip) %>
<% when 'CoastsPlate' %>
  <%= t('.plate_summary',
        :sample_count => task_barcode.reference.coasts_plate_wells.count) %>
  <%= render :partial => 'coasts_plates/thumbnail_diagram',
             :locals => {
               :coasts_plate => task_barcode.reference,
               :index => (@i += 1)
             } %>
<% when 'Order' %>
  <%= t('.order_summary',
        :plate_count => task_barcode.reference.plate_count,
        :sample_count => task_barcode.reference.well_count) %>
  <% task_barcode.reference.coasts_plates.each do |coasts_plate| %>
    <%= render :partial => 'coasts_plates/thumbnail_diagram',
               :locals => {
                 :coasts_plate => coasts_plate,
                 :index => (@i += 1)
               } %>
  <% end %>
<% when 'CdbSample' %>
  <%= t('.sample_summary', :sample => task_barcode.reference.to_s) %>
<% end %>