<%= render :partial => 'shared/combobox',
           :locals => {
             :id => id,
             :name => name,
             :value_object => object,
             :data_element => ModelElement.register(ResultTask, 'ResultTask_active_inventory',
                                                    'Internal', 'active_inventory_result'),
             :error => '',
             :select_event => '',
             :html_options => {
               :class => 'pull-left',
               :style => "width:300px;",
               :value => object
             }
           }
%>