jQuery('#add_items_form').html("<%= escape_javascript(render(:partial => 'add_barcodes'))%>");
jQuery('#barcode_table').html("<%= escape_javascript(render(:partial => 'current_barcodes'))%>");
jQuery('#messages').html('<%= escape_javascript render :partial=>'shared/messages'%>');

<%= render :partial => 'shared/ajax_javascripts' %>