<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['task_barcodes']} %>
<% end %>


<% if @task %>
  <%= content_for :title do %>
    <%= @task.element_type.name %>: <%= @task.name %> - <%= t('.title') %>
  <% end %>

  <%= content_for :breadcrumb do %>
    <% breadcrumb = @task.project_element.self_and_ancestors %>
    <%= breadcrumbs(breadcrumb).html_safe %>
  <% end %>

<% else %>
  <%= content_for :title do %>
    <%= t('.title') %>
  <% end %>
<% end %>

<div id="main_form">

  <%= form_tag task_barcodes_path, {:id => 'check_in_form'} do %>
    <%= hidden_field_tag :back_url,params[:back_url]%>
    <div class="row" style="margin-top:2em;">
      <div class="pull-left span4">
        <div style="margin-left:2em; " id="add_items_form">
          <%= render :partial => 'add_barcodes' %>
        </div>
      </div>

      <div class="pull-left span8" id="barcode_table">
        <%= render :partial => 'current_barcodes' %>
      </div>
    </div>

    <div class="row" style="margin-top:2em;">
      <div style="margin-left:58px;">
        <%= submit_tag(
              t('save'),
              :class => "btn btn-success pull-left #{'disabled' if @task_barcodes.empty?}"
            ) %>
        <div class="cancel_button_block">
          <%= link_to t('cancel'), params[:back_url]||home_url %>
        </div>
      </div>
    </div>

  <% end %>

</div>