<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(TaskBarcode).html_safe %>
<% end %>

<%= content_for :header do %>
  <%= stylesheet_link_tag 'bi/plate_thumbs' %>
<% end %>

<% if @task %>
  <%= content_for :title do %>
    <%= @task.element_type.name %>: <%= @task.name %> - <%= t('.title') %>
  <% end %>

  <%= content_for :breadcrumb do %>
    <% breadcrumb = @task.project_element.self_and_ancestors %>
    <%= breadcrumbs(breadcrumb).html_safe %>
  <% end %>

<% else %>
  <%= content_for :title do %>
    <%= t('.title') %>
  <% end %>
<% end %>

<%= render :partial => 'collection_table' %>
<%= link_to(t('close'), params[:back_url],:class => "btn btn-success") if params[:back_url] %>


<script type="text/javascript">
  function toggle_diagrams() {
    if (jQuery('.plate_thumbnail_holder:hidden').length == 0) {
      jQuery('.plate_thumbnail_holder').hide();
      jQuery('#show_hide_link').html('<%= t('show') %>');
    } else {
      jQuery('.plate_thumbnail_holder').show();
      jQuery('#show_hide_link').html('<%= t('hide') %>');
    }
  }
</script>