<%= content_for :header do %>
  <%= stylesheet_link_tag 'bi/plate_thumbs' %>
<% end %>

<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@task_barcode).html_safe %>
<% end %>

<%= content_for :title do %>
  <%= TaskBarcode.model_name.human %>: <%= @task_barcode.reference_type %> - <%= @task_barcode.reference_code %>
<% end %>

<%= content_for :breadcrumb do %>
  <% if @task %>
    <% breadcrumb = @task.project_element.self_and_ancestors %>
    <%= breadcrumbs(breadcrumb).html_safe %>
  <% end %>
<% end %>

<%= content_for :center do %>
  <div class="portlet">
    <dl class='dl-horizontal'>

      <dt><%= TaskBarcode.human_attribute_name(:reference_type) %></dt>
      <dd><%= @task_barcode.reference_type %></dd>

      <dt><%= TaskBarcode.human_attribute_name(:reference_code) %></dt>
      <dd><%= @task_barcode.reference_code %></dd>

      <dt><%= @task.element_type.name %></dt>
      <dd><%= link_to @task.name, task_path(@task) %></dd>

      <dt><%= TaskBarcode.human_attribute_name(:created_by_user_id) %></dt>
      <dd><%= @task_barcode.created_by_user.name %></dd>

      <dt><%= TaskBarcode.human_attribute_name(:plates) %></dt>
      <dd>
        <% @i = -1 %>

        <%= render :partial => 'plate_summary',
                   :locals => {:task_barcode => @task_barcode} %>

      </dd>

    </dl>
  </div>
    <%= link_to(t('close'), params[:back_url],:class => "btn btn-success") if params[:back_url] %>

<% end %>