<div id="drag">
  <table class="table-condensed table-bordered consolidation_table"
         id="consolidation_table">
    <thead>
      <tr>
        <%# @result_task.dilution_map.dilution_map_slots.order('position asc').each_with_index do |dilution_map_slot, idx| %>
        <% @result_task.dilution_map.length.times do |idx| %>
          <% dilution_map_slot = @result_task.dilution_map.dilution_map_slots.detect{|x| x.position == idx} %>
          <th>
            <%= idx + 1 %>
            <br/>

            <%= dilution_map_slot ? dilution_map_slot.slot_type : 'blank' %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @plate_data_store.dilution_slot_rows.each do |row| %>
        <tr>
          <% @result_task.dilution_map.length.times do |cell| %>
            <% dilution_slot = row.detect { |x| x.column_no == cell if x } %>
            <% if dilution_slot %>
              <% if dilution_slot.slot_type == 'samp' %>
                <% kls = dilution_slot.marked ? 'marked' : '' %>
                <td>
                  <div id="<%= dilution_slot.id %>"
                       title="<%= dilution_slot.summary %>"
                       class="drag <%= kls %> samp"
                       style="background-color:<%= dilution_slot.colour %>;">
                    <%= dilution_slot.source_string %>
                  </div>
                </td>
              <% else %>
                <td>
                  <div id="<%= dilution_slot.id %>"
                       class="<%= dilution_slot.slot_type %>"
                       title="<%= dilution_slot.summary %>">
                    <%= dilution_slot.source_string %>
                  </div>
                </td>
              <% end %>
            <% else %>
              <td class="empty"></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>