<table class="table">
  <thead>
    <tr>
      <th><%= ProjectElement.human_attribute_name(:name) %></th>
      <th><%= ProjectElement.human_attribute_name(:state_id) %></th>
      <th><%= ProjectElementVersion.human_attribute_name(:version_no) %></th>
      <th><%= t(:action) %></th>

    </tr>
  </thead>
  <tbody>
    <% @result_task.project_element.children.where(
         :type => 'ProjectAsset'
       ).order('name asc').each do |project_element| %>
      <tr>
        <td><%= project_element.name %></td>
        <td><%= project_element.state_name %></td>
        <td><%= project_element.current_version.version_no %></td>
        <td><%= link_to("Download",file_project_asset_url(project_element.current_version.asset_uuid))%> </td>
      </tr>
    <% end %>
  </tbody>
</table>