<div class="biorails_form_wrapper" style="padding-left:30px;padding-bottom:10px;">

  <% @plate_data_store.coasts_plates.in_groups_of(2).each do |row_of_plates| %>
    <div class="row">
      <% row_of_plates.each do |coasts_plate| %>
        <% if coasts_plate %>
          <div class='span6'>
            <%= render :partial => 'coasts_plates/thumbnail_diagram',
                       :locals => {
                         :coasts_plate => coasts_plate,
                         :index => (@result_task.colour_index_for(coasts_plate.plate_code)),
                         :mode => 'coord'
                       } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @plate_data_store.scanned_coasts_plate_wells.any? %>
    <div class="row">
      <div class='span6'>
        <%= render :partial => 'dilution_slots/well_diagram' %>
      </div>
    </div>
  <% end %>

  <% if @plate_data_store.cdb_samples.any? %>
    <div class="row">

      <div class='span6'>
        <%= render :partial => 'dilution_slots/sample_diagram' %>
      </div>
    </div>
  <% end %>

</div>

<div class="consolidation_table_holder">
  <%= render 'consolidation_result_table' %>
</div>