jQuery(document).ready(function () {
  var rd = REDIPS.drag;

  rd.nonDropColumns = <%= @result_task.dilution_map.dilution_map_slots.non_sample.collect{|x|x.position}.to_json %>;

  rd.init();
  rd.dropMode = 'switch';
  rd.event.droppedBefore = function (cell) {
    var col = jQuery(cell).parent().children().index(cell);
    if (rd.nonDropColumns.indexOf(col) != -1) {
      return false;
    }
    if (jQuery(cell).prop('tagName')=='TH'){
      return false;
    }
  };


});