
<%= button_to t('wizard.abandon'),
      task_url(@result_task),
      :class => 'wizard_button_abandon btn-link',
      :confirm =>  t('.abandon_text'), method: :get %>

<%= link_to t('.checkin'),
              new_task_barcode_path(task_id: @result_task.id),
              :class => 'wizard_button_extra1 btn btn-link',
              :confirm =>  t('.abandon_goto_checkin'), method: :get %>

<%= link_to t('.replan'),
              outline_queue_management_path(@outline_queue,task_id:@result_task.id),
              :class => 'wizard_button_extra2 btn btn-link',
              :confirm => t('.abandon_goto_replan'), method: :get %>

