<%= biorails_form_for @result_task, :as => 'task',:url => step1_save_experiment_consolidation_wizard_path(@result_task) do |form| %>

    <%= form.hidden_field :parent_id %>
    <%= form.hidden_field :project_id %>
    <%= form.hidden_field :project_element_id %>
    <%= form.hidden_field :lock_version %>

    <fieldset>
      <legend><%=@result_task.name%></legend>
      <%= form.text_field :name,disabled:true %>
      <%= form.text_area :description, :rows => 3 %>
    <%= form.select_member(:assigned_member_id, @result_task.project_element) %>
    <%= form.date_field :started_on %>
    <%= form.date_field :expected_on %>
    </fieldset>


    <fieldset>
      <legend>Queue items by state</legend>


      <% @states.each do |state| %>

          <div class="clearfix control-group ">
            <label class="control-label"><%= state.name %></label>
            <div class="controls ">
              <% if state.name.downcase == 'delivered' %>
                  <%= "#{@state_counts[state.id]} "%>
              <% else %>
                  <label class="control-label"><%= "#{@state_counts[state.id]}"%></label>
                  <label class="checkbox">
                    <span><input type="checkbox" name="remove_state_id[<%=state.id%>]"> Remove?</span>
                    <span class="help-inline"><%=@result_task.queue_items.select{|i|i.state_id == state.id}.collect{|i|i.name}.join(" , ")%></span>
                  </label>

              <% end %>
            </div>
          </div>

      <%end%>

      <%= form.labelled_text "Unmanaged Items",@result_task.contexts.select{|i|i.result_queue_item.nil?}.size %>

      <div class="clearfix control-group ">
        <label class="control-label">Total sheet rows</label>
        <div class="controls ">
          <%= @result_task.contexts.size %>
          <span class="help-inline">
             <%= test_task_in_size_limits(@result_task)  %>
          </span>
        </div>
      </div>

    </fieldset>

    <%= form.submit t('wizard.next_button_name'), :class => 'wizard_button_next btn btn-success' %>

<% end %>
