<div id="<%=task.dom_id('div')%>"> </div>
<script>
    var sheet = null;

    Ext.onReady(
            function(){

                var w = jQuery('#<%=task.dom_id('grid')%>').parent().width();

                sheet = Ext.create('Ext.biorails.TaskSheetPanel', {
                    id: '<%=task.dom_id(:grid)%>',
                    title:null,
                    renderTo: '<%=task.dom_id('div')%>',
                    process_version_id: <%=task.process_version_id%>,
                    task_id: <%=task.id%>,
                    columns: <%=raw ext_columns(task.process).to_json%>,
                    data: <%=raw task.sheet.to_ext.to_json%>,
                    outline_method_list: [],
                    outline_parameter_list: <%=raw task.allowed_parameter_options.to_json %>,
                    sheet_url: '<%= task_sheet_path(task)%>',
                    goto_url: '<%=step3_create_experiment_consolidation_wizard_path(task)%>',
                    loadMask: true,
                    minWidth: 500,
                    minHeight: 500,
                    width: w,
                    columnLines: true
                });
            });
</script>