<span class="help-inline">
  <%= t('.finalize_summary') %>
</span>

<dl class="dl-horizontal">

  <dt><%= Task.human_attribute_name(:name) %></dt>
  <dd><%= @result_task.name %></dd>

  <dt><%= Task.human_attribute_name(:description) %></dt>
  <dd><%= @result_task.description %></dd>

  <dt><%= Task.human_attribute_name(:process_version_id) %></dt>
  <dd><%= @result_task.process.name %></dd>

  <dt><%= Task.human_attribute_name(:state_id) %></dt>
  <dd><%= @result_task.state_name %></dd>

</dl>

<%= raw @result_task.task_sheet_html %>