<% content_for :wizard_title do %>
  <%= t('.wizard_title') %>
<% end %>

<% run_step3 = TaskConsolidation.is_suitable_task?(@result_task) %>
<% run_step4 = @result_task.process.process_version_file_templates.any?  %>

<% content_for :wizard_menu do %>
    <%= wizard_menu_step(1, step, t('.step1')) %>
    <%= wizard_menu_step(2, step, t('.step2')) %>
  <%= wizard_menu_step(3, step, run_step3 ? t('.step3') : t('.step3_disabled') ) %>
  <%= wizard_menu_step(4, step, run_step4 ? t('.step4') : t('.step4_disabled')) %>
  <%= wizard_menu_step(5, step, t('.step5')) %>
<% end %>
