<%= content_for :messages do %>
    <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<%= render partial: 'step2_sheet',locals: {task: @result_task} %>
<%= render partial: 'shared_buttons' %>
<%= render partial: 'wizard_menu', :locals => {:step => 2} %>

<input value= "<%=t('wizard.next_button_name')%>"
       id="task_save"
       name="task_save"
       class="btn btn-success wizard_button_next"
       type="submit"/>

<script>
    jQuery( document ).ready(function() {
        console.log( "Override save button" );
        jQuery('#task_save').click(function(){
            sheet.save();
        });
    });

</script>

<%= wizard_back_button(step1_experiment_consolidation_wizard_path(@result_task)) %>