<%= content_for :messages do %>
  <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<%= render partial: 'step1_form' %>

<%= render partial: 'shared_buttons' %>
<%= render partial: 'wizard_menu', :locals => {:step => 1} %>
