<%= content_for :messages do %>
  <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>
<%= render partial: 'wizard_menu', :locals => {:step => 5} %>
<%= render partial: 'shared_buttons' %>

<%= content_for :header do %>
  <%= stylesheet_link_tag 'bi/plate_thumbs' %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#summary" role="tab" data-toggle="tab"><%= t('.summary') %></a></li>
  <% if @result_task.dilution_map %>
    <li><a href="#consolidation" role="tab" data-toggle="tab"><%= t('.consolidation_title') %></a></li>
  <% end %>
  <% if @result_task.process.process_version_file_templates.any? %>
    <li><a href="#folder_content" role="tab" data-toggle="tab"><%= t('.files_title') %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="summary">
    <div id="task_sheet">
      <%= render 'task_summary' %>
    </div>
  </div>

  <div class="tab-pane" id="consolidation">
    <% if @result_task.dilution_map %>
      <%= render 'consolidation_results' %>
    <% end %>

  </div>

  <% if @result_task.process.process_version_file_templates.any? %>
    <div class="tab-pane" id="folder_content">
      <%= render 'contents_table' %>
    </div>
  <% end %>
</div>


<%= wizard_next_button(finalize_experiment_consolidation_wizard_path(@result_task), 'post', t('.finalise')) %>

<% if @result_task.process.process_version_file_templates.any? %>
  <%= wizard_back_button(step4_new_experiment_consolidation_wizard_path(@result_task)) %>
<% else %>
  <%= wizard_back_button(step3_edit_experiment_consolidation_wizard_path(@result_task)) %>
<% end %>
