jQuery('#previews').show();
jQuery('#previews').append("<div class='preview' id='preview_<%= @process_version_file_template.id %>'>"+
                           "<h3><%= @process_version_file_template.name %></h3>"+
                           "<%=escape_javascript(display_tsv(@preview_text).html_safe) %>" +
                           "</div>");
