<%= content_for :messages do %>
  <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<%= render partial: 'shared_buttons' %>
<%= render partial: 'wizard_menu', :locals => {:step => 3} %>

<%= wizard_back_button(step2_experiment_consolidation_wizard_path(@result_task)) %>

<div class="biorails_form_wrapper">
  <% @plate_data_store.coasts_plates.in_groups_of(2).each do |row_of_plates| %>
    <div class="row" id="plate_holder">
      <% row_of_plates.each do |coasts_plate| %>
        <% if coasts_plate %>
          <div class='span6'>
            <%= render :partial => 'coasts_plates/thumbnail_diagram',
                       :locals => {
                         :coasts_plate => coasts_plate,
                         :index => (@result_task.colour_index_for(coasts_plate.plate_code)),
                         :mode => 'coord'
                       } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @plate_data_store.scanned_coasts_plate_wells.any? %>
    <div class="row" id="plate_holder">
      <div class='span6'>
        <%= render :partial => 'dilution_slots/well_diagram' %>
      </div>
    </div>
  <% end %>

  <% if @plate_data_store.cdb_samples.any? %>
    <div class="row" id="plate_holder">

      <div class='span6'>
        <%= render :partial => 'dilution_slots/sample_diagram' %>
      </div>
    </div>
  <% end %>

  <div class="row" id="result_holder">
    <div class='span12'>
      <h2><%= t('.result_title') %></h2>
      <span class="help inline"><%= t('.drag_help') %></span>

      <div class="consolidation_table_holder">
        <%= render 'consolidation_result_table' %>
      </div>

      <div>
        <%= link_to t('.reset'), '#', id: 'reset', :class => "btn btn-primary" %>
      </div>
    </div>
  </div>

  <%= form_tag(step3_update_experiment_consolidation_wizard_path(@result_task), method: :post, class: 'form-horizontal') do %>
    <%= hidden_field_tag(:dilution_slot_positions) %>
    <%= submit_tag t('wizard.next_button_name'), :class => 'wizard_button_next btn btn-success' %>
  <% end %>

</div>


<%= content_for :header do %>
  <%= javascript_include_tag 'redips-drag-min' %>
  <%= stylesheet_link_tag 'bi/plate_thumbs' %>

  <script type="text/javascript">
    function set_slot_params() {
      jQuery("#dilution_slot_positions").val(JSON.parse(REDIPS.drag.saveContent('consolidation_table', 'json')));
    }


    function reset_slots() {
      jQuery.post("<%=step3_reset_experiment_consolidation_wizard_path(@result_task)%>");
    }

    <%= render :partial => 'init_redips_drag.js' %>
  </script>

<% end %>

<% content_for :jquery_on_ready do %>
  set_slot_params();
  REDIPS.drag.event.dropped = set_slot_params;
  jQuery('#reset').click(reset_slots);
<% end %>
