<%= content_for :messages do %>
  <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<%= render partial: 'shared_buttons' %>
<%= render partial: 'wizard_menu', :locals => {:step => 4} %>

<%= wizard_back_button(step3_edit_experiment_consolidation_wizard_path(@result_task)) %>


<% biorails_form_for @result_task, :url => step4_create_experiment_consolidation_wizard_path(@result_task) do |form| %>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th><%= ProcessVersionFileTemplate.human_attribute_name(:name) %></th>
        <th><%= ProcessVersionFileTemplate.human_attribute_name(:output_file_template_id) %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @result_task.process.process_version_file_templates.each do |process_version_file_template| %>
        <tr>
          <td>
            <%= check_box_tag(
                  "task[process_version_file_template_ids[#{process_version_file_template.id}]]",
                  '1',
                  true
                ) %>
            <%= process_version_file_template.name %>
          </td>
          <td><%= process_version_file_template.output_file_template.name %> </td>
          <td>
            <%= link_to t('preview'), '#',
                        :class => 'preview_link',
                        'data-id' => process_version_file_template.id %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form.submit t('wizard.next_button_name'), :class => 'btn btn-success wizard_button_next' %>

  <div id="previews" style="display:none;">
    <h2><%= t('.previews_title') %></h2>
    <p><%= t('.previews_help') %></p>

  </div>

<% end %>



<script type="text/javascript">

  jQuery('.preview_link').on('click', function(e){
    e.preventDefault();
    jQuery('.preview_link').show();
    jQuery(this).hide();
    jQuery('.preview').hide();
    var preview_id = "#preview_" + jQuery(this).data('id');
    if (jQuery(preview_id).length == 0) {
      jQuery.ajax({url: "<%= step4_preview_experiment_consolidation_wizard_path(@result_task) %>",
        dataType: 'script',
        data: { process_version_file_template_id: jQuery(this).data('id') }
      });
    } else {
      jQuery(preview_id).show();
    }
  });
</script>

