<table class="table table-condensed table-bordered dilution_map">
  <tbody>
    <tr>
      <% @dilution_map.length.times do |cell| %>
        <% dilution_map_slot = @dilution_map.dilution_map_slots.select{|x|x.position == cell}[0] %>
        <% if dilution_map_slot %>
          <td data-position="<%= cell %>"
              class="<%= dilution_map_slot.slot_type %>"
              title="<%= dilution_map_slot.summary %>"
          >
            <%= dilution_map_slot.cdb_sample.sample_id if dilution_map_slot.cdb_sample%>
          </td>
        <% else %>
          <td class="empty" data-position="<%= cell %>"></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>

<% content_for :header do %>
  <%= stylesheet_link_tag 'bi/dilution_map_form' %>
<% end %>