<%= biorails_form_for @dilution_map,
                      :html => {:id => 'dilution_map_form'} do |form| %>

  <%= hidden_field_tag :wizard, params[:wizard] %>

  <%= hidden_field_tag(:id, @dilution_map.id) if @dilution_map.id %>

  <%= form.hidden_field :process_version_id %>

  <%= form.labelled_text :process_version_id, @dilution_map.process_version_name %>

  <%= form.select :coasts_plate_format_id,
                  options_for_select(
                    DilutionMap.coasts_plate_format_options,
                    :selected => @dilution_map.coasts_plate_format_id
                  ) %>

  <%= form.select :source_by_row,
                  options_for_select(
                    DilutionMap.source_by_row_options,
                    :selected => @dilution_map.source_by_row
                  ) %>

  <%= form.labelled_text :source_length, @dilution_map.source_length %>
  <%= form.hidden_field :source_length %>

  <%= form.select :length,
                  options_for_select(
                    DilutionMap.length_options,
                    :selected => @dilution_map.length
                  ) %>

  <%= form.select :consolidation_algorithm, @dilution_map.consolidation_algorithm_options %>

  <%= render :partial => 'wells_form', :locals => {:form => form} %>

  <% if params[:wizard].blank? %>
    <%= form.submit %>
    <%= link_to_cancel(@dilution_map) %>
  <% end %>
<% end %>
<% unless @dilution_map.new_record? or !params[:wizard].blank? %>
  <%= button_to_delete(@dilution_map) %>
<% end %>

