<%= render :layout => 'shared/modal_form',
           :locals => {:id => 'inputProcessModal',
                       :header => @dilution_map.new_record? ? t('.new_dilution_map') : t('.edit_dilution_map'),
                       :object => @dilution_map,
                       :options => {:class => 'wide-modal'}} do %>

  <div id='main_form'>
    <%= render :partial => 'form' %>
  </div>

<% end %>

<%= render :partial => 'form_javascript' %>
