<h2><%= t('.title') %></h2>

<%= render :partial => 'diagram' %>

<div class="row">
  <div id="new_wells_form" style="display:none;" class="span12">
    <h2><%= t('.subtitle') %></h2>

    <%= form.select :block_slot_type,
                    options_for_select(DilutionMapSlot.slot_types) %>

    <%= form.combo_for_model :block_sample_id, CdbSample %>

    <%= form.hidden_field :block_start %>
    <%= form.hidden_field :block_end %>

    <%= form.submit t('add'), :id => 'add_button', :class => 'btn btn-primary' %>

    <%= form.fields_for :dilution_map_slots do |slot_form| %>

      <% if slot_form.object.position < @dilution_map.length %>

        <%= slot_form.hidden_field :slot_type %>
        <%= slot_form.hidden_field :position %>
        <%= slot_form.hidden_field :sample_id %>

      <% end %>

    <% end %>

  </div>
</div>

<br style="clear:both;">