<% if @success %>
<%= handle_close_modal_js(
  !@success,
[
  {
    :element => '#dilution_map',
    :content => escape_javascript(render :partial=>'organize/assay_wizards/dilution_map')
  }
]
) %>
<% else %>

jQuery('#main_form').html("<%= escape_javascript(render :partial=>'dilution_maps/form')%> ");
jQuery('.alert').hide();
jQuery('#modal-messages').show();
jQuery('#modal-messages').html("<%=escape_javascript(render :partial => 'shared/messages')%>");
init_form();
init_table_interaction();

<% end %>