jQuery('#dilution_map').html('<%=escape_javascript(render :partial=>'organize/assay_wizards/dilution_map')%>');

jQuery('#messages').html("<%=escape_javascript(render :partial => 'shared/messages')%>");