<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['dilution_map']} %>
<% end %>

<%= content_for :title do %>
  <%= "#{ProcessVersion.model_name.human}: #{@process_version.name} - #{t('edit')} #{DilutionMap.model_name.human}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @process_version.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>

<div id="main_form">

  <%= render :partial => 'form' %>

</div>

<%= content_for :header do %>
  <%= render :partial => 'form_javascript' %>
<% end %>