jQuery('#main_form').html('<%= escape_javascript(render :partial => 'form') %>');

init_form();
init_table_interaction();

<%= render :partial => 'shared/ajax_javascripts' %>
jQuery('#messages').html("<%=escape_javascript(render :partial => 'shared/messages')%>");