<%= content_for :title do %>
  <%= "#{ProcessVersion.model_name.human}: #{@process_version.name}: #{DilutionMap.model_name.human}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @process_version.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>


<div class="padded_div">

  <dl class='dl-horizontal'>

    <dt><%= DilutionMap.human_attribute_name :coasts_plate_format %></dt>
    <dd><%= @dilution_map.coasts_plate_format.text %></dd>

    <dt><%= DilutionMap.human_attribute_name :source_by_row %></dt>
    <dd><%= @dilution_map.display_source_by_row %></dd>

    <dt><%= DilutionMap.human_attribute_name :source_length %></dt>
    <dd><%= @dilution_map.source_length %></dd>

    <dt><%= DilutionMap.human_attribute_name :length %></dt>
    <dd><%= @dilution_map.display_length %></dd>

    <dt><%= DilutionMap.human_attribute_name :consolidation_algorithm %></dt>
    <dd><%= DilutionMap.human_attribute_name(@dilution_map.consolidation_algorithm) %></dd>
  </dl>

  <%= render :partial => 'diagram' %>

</div>