<table class='table table-striped table-condensed'>
  <% @result_task.queue_items.each do |queue_item| %>
    <tr>
      <td><%=queue_item.name%></td>
      <td><%= link_to 'Remove',  '#', id: "item_#{queue_item.id}", class: 'move_to_queue'%></td>
    </tr>
  <% end %>
</table>

<%= content_for :ext_on_ready do %>
    jQuery('.move_to_queue').click(function() {
        var queue_item_ids = [];
        queue_item_ids[0] = jQuery(this).attr('id').substr(5);
        jQuery.ajax({type: "PUT",
            url: "<%= experiment_order_wizard_url(@result_task)%>",
            dataType: 'script',
            data: { remove: true, queue_item_ids: queue_item_ids},
            success: function (result) {
                Ext.getCmp("ExperimentQueryPanel").store.load();
            }
        });
    });
<% end %>