<%= biorails_form_for @result_task, url: url  do |form| %>

    <%= form.hidden_field :element_type_id %>
    <%= form.text_field :name, {:readonly => @outline_queue.element_type.name_fixed?, :required => true}%>
    <%= form.text_area :description, :rows => 3 %>
    <%= form.collection_select(:process_version_id, @outline_queue.processes.output.released, :id, :name) %>
    <%= form.select_member(:assigned_member_id, project_folder, :required => true) %>

    <%= form.date_field :started_on %>
    <%= form.date_field :expected_on %>

    <%= submit_tag t('wizard.next_button_name'),
                   {
                           name: 'submit',
                           class: 'wizard_button_next btn btn-success btn-primary'
                   }
    %>
<% end %>
