<% if @result_task.new_record? %>
  <%= link_to  t('wizard.abandon'),
                abandon_experiment_order_wizards_path(:outline_queue_id => @outline_queue.id),
                :class => 'wizard_button_abandon btn-link',
                :confirm => confirm_abandon_text(t('.name')),
                :method => :get %>
<% else %>
  <%= link_to t('wizard.abandon'),
                abandon_experiment_order_wizard_path(@result_task, :outline_queue_id => @outline_queue.id),
                :class => 'wizard_button_abandon btn-link',
                :confirm => confirm_abandon_text(t('.name')),
                :method => :get %>
<% end %>