<%= biorails_form_for(@order, url: step3_create_experiment_order_wizard_path(@result_task)) do |form| %>

  <div id="part_form">
    <%= form.labelled_text :task, @result_task.name%>

    <%= form.select :order_profile_id, options_for_select(order_profile_options(@result_task.queue), :selected => order_profile.id), {}, {id: 'order_profile_select'} %>

    <%= form.labelled_text OrderProfile.human_attribute_name(:amount_display), order_profile.amount_display %>

    <% unless order_profile.dissolution? %>
        <%= form.select :use_internal_recipient,
                        [
                                ['Internal', true],
                                ['External', false]
                        ],
                        {},
                        {:onchange => "switch_internal_external(); "} %>


        <div id='internal'>
          <%= form.combo_for_model :recipient_user_id, User, :required => true %>
        </div>
        <div id='external' style='display: none'>
          <%= form.combo_for_model :coasts_external_recipient_id, CoastsExternalRecipient, :required => true %>
        </div>
    <% end %>
  </div>
    <%= if order_profile.solid?
          render :partial => 'orders/form_items_dry', :locals => {:f => form, :order_profile => order_profile}
        elsif order_profile.standard_liquid?
          render :partial => 'orders/form_items_standard_liquid', :locals => {:f => form}
        elsif order_profile.custom_liquid?
          render :partial => 'orders/form_items_custom_liquid', :locals => {:f => form, :order_profile => order_profile}
        elsif order_profile.dissolution?
          render :partial => 'orders/form_items_dissolution', :locals => {:f => form}
        elsif order_profile.subways?
          render :partial => 'orders/form_items_subways', :locals => {:f => form, :order_profile => order_profile}
        end
    %>
    <%=form.submit 'Next', class: 'wizard_button_next btn btn-success' %>

<%end%>

<script type=text/javascript>
    <%= render partial: 'shared/ajax_javascripts' %>

    jQuery( "#order_profile_select").change(function() {
        jQuery.ajax( {  type: "GET",
            url: "<%= step3_show_experiment_order_wizard_url(@result_task)%>",
            data: jQuery("#part_form select, #part_form input").serialize(),
            success: function (result) {
            jQuery('#main_form').html(result);
            }
        });
    } );

    jQuery( "#add_compound_link").change(function() {
        jQuery.ajax( {  type: "GET",
            url: "<%= step3_show_experiment_order_wizard_url(@result_task)%>",
            data: jQuery("#part_form select, #part_form input").serialize(),
            success: function (result) {
                jQuery('#main_form').html(result);
            }
        });
    } );
    function switch_internal_external()
    {
        if (jQuery('#order_use_internal_recipient').val()=='true')
        {
            jQuery('#internal').removeAttr('style')
            jQuery('#external').attr('style', 'display: none')
        }
        else
        {
            jQuery('#internal').attr('style', 'display: none')
            jQuery('#external').removeAttr('style')
        }
    };

</script>