<div class="span9">
  <div class="row">
    <%= render partial: 'queue_items' %>
  </div>
  <div class="row">
    <div class="span12">
      <%= link_to 'To Experiment',  '#', id: 'move_to_experiment', class: 'btn'%>
      <div class='pull-right'>
        Allocate <%= number_field_tag('items', value = 0, :class=>"text-input", id: 'number_of_items', size: 8)  %> Items from the queue <%= link_to 'To Experiment',  '#', id: 'select_items', class: 'btn'%>
      </div>
    </div>
  </div>
</div>
<div class="span3">
  <div id="experiment_items">
    <%= render partial: 'experiment_items' %>
  </div>
</div>


<%= content_for :ext_on_ready do %>

    function move_items(queue_item_ids)
    {
        jQuery.ajax({type: "PUT",
                url: "<%= experiment_order_wizard_url(@result_task)%>",
                dataType: 'script',
                data: { queue_item_ids: queue_item_ids},
                success: function (result) {
                    Ext.getCmp("ExperimentQueryPanel").store.load();

                }
        });
    }

    jQuery('#select_items').click(function() {
        var number_of_items = parseInt( jQuery('#number_of_items').val() );
        var queue_item_ids = Ext.getCmp("ExperimentQueryPanel").getItems(number_of_items);
        move_items(queue_item_ids);
    });

    jQuery('#move_to_experiment').click(function() {
        var queue_item_ids = Ext.getCmp("ExperimentQueryPanel").selected_list;
        move_items(queue_item_ids);
    });
<% end %>

<div id="js_tag">

</div>
