<% content_for :wizard_title do %>
    <%= t('.header') %>
<% end %>

<% content_for :wizard_menu do %>
    <%= wizard_menu_step(1, step, t('.details')) %>
    <%= wizard_menu_step(2, step, t('.add_items') )  %>
    <%= wizard_menu_step(3, step, t('.order') )  %>
    <%= wizard_menu_step(4, step, t('.confirm') )  %>
<% end %>
