<%= content_for :messages do %>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<div id="outline_queue_details">
  <%= render :partial => 'naming', locals: {project_folder: project_folder, outline: outline, url: url} %>
</div>

<%= render :partial => 'shared_buttons' %>
<%= render :partial => 'wizard_menu', :locals => {:step => 1} %>
