<% content_for :header do %>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            jQuery('.show_order_btn').click(function (event) {
                event.preventDefault();
                jQuery.ajax({
                    type: 'GET',
                    url: this.href,
                    dataType: 'script'
                });
            })
        });
    </script>
<% end %>

<%= render :partial => 'wizard_menu', :locals => {:step => 4} %>

<%= content_for :messages do %>
    <%= render :partial => 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<%= portlet_box "<h3>#{t('.info')}</h3>" do %>
    <dl class="dl-horizontal">
      <dt>  <%= ResultTask.human_attribute_name(:name) %>  </dt>
      <dd>  <%= @result_task.name %>   </dd>
      <dt>  <%= ResultTask.human_attribute_name(:description) %></dt>
      <dd>  <%= @result_task.description %>   </dd>

      <dt> <%= ProcessVersion.model_name %> </dt>
      <dd> <%= @result_task.process.name %>   </dd>

      <dt> <%= User.model_name %> </dt>
      <dd> <%= ResultTask.last.assigned_member.name %>   </dd>

      <dt> <%= ResultTask.human_attribute_name(:started_on) %> </dt>
      <dd> <%= @result_task.started_on %>  </dd>
      <dt> <%= ResultTask.human_attribute_name(:expected_on) %>  </dt>
      <dd> <%= @result_task.expected_on %> </dd>
    </dl>
<% end %>

<%= portlet_box "<h3>#{t('.queue_items', :count => @result_task.queue_items.count)}</h3>" do %>
<table class='table table-striped table-hover table-bordered'>
  <thead>
  <tr>
    <th><%= QueueItem.human_attribute_name(:name) %></th>
    <th><%= Order.model_name %></th>
    <th><%= State.model_name %></th>

  </tr>
  </thead>
  <% @result_task.queue_items.each do |item| %>
      <tr>
        <td style="padding-right:1em">
          <%= item.data_name %>
        </td>
        <td style="padding-right:1em">
         <%=  link_to( item.order.name, order_path(item.order), :class => 'show_order_btn' ) if item.order %>
        </td>
        <td style="padding-right:1em">
         <%= item.status_summary %>
        </td>
      </tr>
  <% end %>
</table>
<% end %>

<%= render :partial => 'shared_buttons' %>

<%= wizard_next_button(confirm_experiment_order_wizard_path(@result_task), :post, 'Confirm') %>
<%= wizard_back_button(step3_experiment_order_wizard_path(@result_task)) %>
