<%= content_for :messages do %>
    <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>

<div id="main_form">
  <% if right?(Role::MODULE_INVENTORY, Role::RIGHT_USE) %>
      <%= portlet_box t('.add_orders') do %>
          <div id="orders_list_container">
          <%= render :partial => 'orders/orders_list', :locals => {:task => @result_task} %>
          </div>
          <%= link_to t('add_named', :name => Order.model_name.human),
                      new_order_path(task_id: @result_task, wizard: true, back_url: step3_experiment_order_wizard_path(@result_task)),
                      :id => 'new_order_btn', :class => 'btn btn-primary' %>
      <% end %>
  <% else %>
      Current user has no inventory use rights, so cannot order materials
  <% end %>
</div>

<%= render partial: 'shared_buttons' %>

<%= render partial: 'wizard_menu', :locals => {:step => 3} %>

<%= wizard_next_button(step4_experiment_order_wizard_path(@result_task)) %>
<%= wizard_back_button(step2_experiment_order_wizard_path(@result_task)) %>

