<%= content_for :messages do %>
  <%= render partial: 'shared/messages', :locals => {:objects => ['result_task']} %>
<% end %>
<%= render partial: 'experiment_items/allocate_queue_items', locals: {outline_queue: outline_queue} %>

<%= render partial: 'shared_buttons' %>
<%= render partial: 'wizard_menu', :locals => {:step => 2} %>
<%= wizard_next_button(step3_experiment_order_wizard_path(@result_task)) %>
<%= wizard_back_button(step1_edit_experiment_order_wizard_path(@result_task)) %>
