jQuery('#experiment_items').html('<%= escape_javascript(render partial: "experiment_items")%>');
jQuery('#js_tag').html('<script type="text/javascript"><%= escape_javascript(render partial: "shared/ajax_javascripts")%></script>');