<%= biorails_form_for @process_version_file_template,
                      :html => {:id => 'dilution_map_form'} do |form| %>

  <%= hidden_field_tag :wizard, @wizard %>

  <%= hidden_field_tag :process_version_id, params[:process_version_id] %>

  <%= form.hidden_field :process_version_id %>
  <%= form.combo_for_model :output_file_template_id, OutputFileTemplate %>
  <%= form.text_field :file_name %>
  <%= form.select :file_type,
                  options_for_select(
                    ProcessVersionFileTemplate.file_type_options,
                    :selected => @process_version_file_template.file_type
                  )
  %>
  <% if @wizard.blank? %>
    <%= form.submit %>
  <% end %>

<% end %>