<%= render :layout => 'shared/modal_form',
           :locals => {:id => 'inputProcessModal',
                       :header => @process_version_file_template.new_record? ? t('.new') : t('.edit'),
                       :object => @process_version_file_template,
                       :options => {:class => 'wide-modal'}} do %>

  <div id='main_form'>
    <%= render :partial => 'form' %>
  </div>

<% end %>


