<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= ProcessVersionFileTemplate.human_attribute_name(:name) %></th>
      <th><%= ProcessVersionFileTemplate.human_attribute_name(:output_file_template_id) %></th>
      <th><%= ProcessVersionFileTemplate.human_attribute_name(:created_on) %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% process_version.process_version_file_templates.each do |template| %>
      <tr>
        <td>
          <% if @wizard %>
            <%= template.name %>
          <% else %>
            <%= link_to template.name,
                        process_version_file_template_path(template) %>
          <% end %>
        </td>
        <td><%= template.output_file_template.name %></td>
        <td><%= short_date(template.created_at) %></td>
        <td>
          <% if @wizard %>
            <%= link_to t('edit'),
                        edit_process_version_file_template_path(
                          template,
                          :format=> :js,
                          :wizard => true
                        ),
                        :remote => true
            %>
            <%= button_to t('remove'),
                          process_version_file_template_path(template,:format=> :js),
                          :remote => true,
                          :method => 'delete',
                          :class => 'btn btn-danger btn-small',
                          :confirm => t('warning.delete_confirmation') %>
          <% else %>
            <%= link_to t('edit'),
                        edit_process_version_file_template_path(template) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
