<% if @success %>
<%= handle_close_modal_js(
  !@success,
[
  {
    :element => '#process_version_file_templates',
    :content => escape_javascript(render :partial => 'organize/assay_wizards/process_version_file_templates')
  }
]
) %>
<% else %>

jQuery('#main_form').html("<%= escape_javascript(render :partial => 'process_version_file_templates/form')%> ");
jQuery('.alert').hide();
jQuery('#modal-messages').show();
jQuery('#modal-messages').html("<%=escape_javascript(render :partial => 'shared/messages')%>");
<%= yield :jquery_on_ready %>

jQuery('.edit_file_template').click(function(e){
  e.preventDefault();
  var id = jQuery(this).data().processVersionFileTemplateId;
  jQuery.getScript("/process_version_file_templates/"+id+"/edit?wizard=true&format=js");
});

<% end %>