jQuery('#process_version_file_templates').html(
  '<%=escape_javascript(render :partial=> 'organize/assay_wizards/process_version_file_templates')%>'
);

jQuery('#messages').html("<%=escape_javascript(render :partial => 'shared/messages')%>");