<%= handle_open_modal_js do %>
<% escape_javascript(render :partial=>'modal_form') %>
<% end %>

jQuery("button#submit").click(function () {
  var data_save = jQuery('#dilution_map_form').serialize();
  var url = "<%= process_version_file_template_path(@process_version_file_template) %>";
  jQuery.ajax({
    type: '<%= @process_version_file_template.new_record? ? "POST" : "PUT" %>',
    url: url,
    data: data_save,
    dataType: 'script'
  });
});
<%= yield :jquery_on_ready %>
