<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['process_version_file_template']} %>
<% end %>

<%= content_for :title do %>
  <%= "#{ProcessVersion.model_name.human}: #{@process_version.name} - #{t('edit')} #{ProcessVersionFileTemplate.model_name.human}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @process_version.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>

<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@process_version_file_template).html_safe %>
<% end %>

<div id="main_form">

  <%= render :partial => 'form' %>

</div>