<%= content_for :title do %>
  <%= "#{ProcessVersion.model_name.human}: #{@process_version.name}: #{ProcessVersionFileTemplate.model_name.human(:count => 2)}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @process_version.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>

<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@process_version_file_template).html_safe %>
<% end %>

<div class="padded_div">
  <%= render :partial => 'process_version_file_templates/table_for_process_version',
             :locals => {:process_version => @process_version} %>
</div>