<%= content_for :title do %>
  <%= "#{ProcessVersion.model_name.human}: #{@process_version.name}: #{ProcessVersionFileTemplate.model_name.human} - #{@process_version_file_template.name}" %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @process_version.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>

<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@process_version_file_template).html_safe %>
<% end %>

<div class="padded_div">

  <dl class='dl-horizontal'>

    <dt><%= ProcessVersionFileTemplate.human_attribute_name :name %></dt>
    <dd><%= @process_version_file_template.name %></dd>

    <dt><%= ProcessVersionFileTemplate.human_attribute_name :output_file_template_id %></dt>
    <dd><%= @process_version_file_template.output_file_template.name %></dd>

    <dt><%= ProcessVersionFileTemplate.human_attribute_name :created_at %></dt>
    <dd><%= short_date(@process_version_file_template.created_at) %></dd>

  </dl>

  <%= render :partial => 'preview' %>

</div>