<%= biorails_form_for @output_file_template do |f| %>

  <%= f.text_field :name %>
  <%= f.text_area :content %>
  <%= f.labelled_text ' ', link_to(t('.help'), help_output_file_templates_path, :target => '_blank') %>

  <%= f.submit %>


  <% if @output_file_template.new_record? %>
    <%= link_to_cancel output_file_templates_path %>
  <% else %>
    <%= link_to_cancel object_to_url(@output_file_template) %>
  <% end %>

<% end %>
