<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@output_file_template).html_safe %>
<% end %>

<%= content_for :title do %>
  <%= t('edit') %> <%= OutputFileTemplate.model_name.human %>: <%= @output_file_template.name %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= admin_breadcrumb(@output_file_template) %>
<% end %>


<%= render :partial => 'form' %>

<%= button_to_delete(@output_file_template) %>