<% content_for :title do %>
  Output File Template Reference
<% end %>

<div class="padded_div">
<p>
  Output File Templates are a structured data template for output files from Biorails
  experiment planning. They are based on a simple Domain Specific Language for
  producing tab-separated tables of data in a plain text file.
</p>
<p>
  For each row of an experiment, you can use data from these entities:
</p>
<ul>
  <li>Task (biorails)</li>
  <li>Sample</li>
  <li>Method</li>
  <li>Well (single positions on a plate, scanned in for this experiment)</li>
  <li>The contents of the task sheet (which can include arbitrarily set data)</li>
</ul>

<h2>The output file system</h2>
<ol>
  <li>
    There will be a global lookup of Output File Templates which is selected as part of the
    Process from which an Experiment (Task) will be made.
  </li>
  <li>
    When the user finalises an experiment a folder is made on the server with the same address
    as the task (e.g. /outlineX/queueY/tasks/)
  </li>
  <li>
    The tab-separated file is added to this folder named in the same way as this task, generated
    from it's template.
  </li>
</ol>

<h2>Structure of a Template</h2>

<pre>
{% data_row %}
  method_id
  queue_item_id
  request_id
  sample_id
  {{ task.task_sheet_headers }}
{% enddata_row %}
{% for row in task.rows %}
  {% data_row %}
    {{row.method_id}}
    {{row.queue_item_id}}
    {{row.request_id}}
    {{row.sample.sample_id}}
    {{row.task_sheet_row}}
  {% enddata_row %}
{% endfor %}
 </pre>

<h2>Blocks</h2>

<p>There are two kinds of block which will be used here...</p>

<pre>
{% data_row %}
{% enddata_row %}
</pre>

<p>
  The data_row block, will take it's contents and convert it from multiple lines to
  a tab-separated row.
</p>
<pre>
{% for row in task.rows %}
{% endfor %}
</pre>
<p>
  The for block iterates through a collection.
</p>

<p>
  task.rows is the list of items to be tested, complete with links to it's sample,
  task, method, source well, position (after plate consolidation) and other
  attributes added on the task sheet.
</p>

<h2>Inserts</h2>
<p>
  Any part of the Output File Template wrapped in double curly braces ( {{ }} ) is
  an insert, which will find a property and add that to the Output File.
</p>
<p>
  There are some 'special cases' which can be used to shorten templates:
</p>
<pre>
{{ task.task_sheet_headers}}
</pre>
<p>
  This will add the names of all the column headers from the task sheet to the
  template, quickly filling in these properties in the header row.
</p>
<pre>
{{ row.task_sheet_row }}
</pre>
<p>
  This will fill in the contents of the row on the task sheet, in the same order as
  the headers generated by task_sheet_headers.
</p>
<p>
  <b>Note:</b> You can also get individual cells from a row in this manner:
</p>
<pre>
{{ row.parameters.plate_code }}
</pre>
<pre>
{{task.method_setting_headers}}
</pre>
<p>
  This will add the names of all the settings from methods used in this experiment,
  settings are they attributes of a method which are not columns in the table itself.
</p>
<pre>
{{row.method_settings}}
</pre>
<p>
  This will fill the contents of the settings for this rows method, leaving
  appropriate gaps to line up with the above method_settings_headers method.
</p>
<p>
  <b>Note:</b>You can also get individual settings by name in this manner
</p>
<pre>
{{ row.cdb_method.settings.lab_tech }}
</pre>

<h2>Arithmetic</h2>

<p>
  In addition to using inserts to get attributes from the database, you can
  perform some basic arithmetic on the attribute on generating the output file.
</p>

<pre>
  {{row.well.concentraiton | plus: 10}}
  {{row.well.concentraiton | plus: 10}}
  {{row.well.concentraiton | times: 10 }}
  {{row.well.concentraiton | divided_by: 10 }}
</pre>

<p>
  You can also use another attribute as the argument for your arithmetic.
</p>

<pre>
  {{ row.well.concentration | times: row.well.volume }}
</pre>

<h2>Plain text</h2>
<p>
  If any text is not wrapped in the block indicators
</p>
<pre>
{% %}
</pre>
<p>
  or the insert indicators
</p>
<pre>
{{ }}
</pre>
<p>
  Then this is passed through to the template, unchanged, as plain text.
  If plain text is within a data_row block it will be one cell in the TSV format.
  If plain text is within a for block it will be duplicated for each member of
  the collection.
</p>

<h2>Exposed parameters</h2>
<p>The Output File Template exposes attributes for several related models</p>
<h3>task</h3>
<p>
  This is the task itself
</p>
<h3>row</h3>
<p>
  This represents both the row on the task sheet, and a single test item. It is also
  the starting point for sample, method etc. data.
  Get to these by the {% for row in task.rows %} block
</p>
<p>
  Attributes:
</p>
<pre>
{{ row.queue_item_id }}
</pre>
<p>
  The unique id of an item in the queue (biorails internal)
</p>
<pre>
{{ row.request_id }}
</pre>
<p>
  The unique id of the request where this item was asked for (biorails internal)
</p>
<pre>
{{ row.method_id }}
</pre>
<p>
  The unique id of the method, from the CDB database, linked to this row
</p>
<pre>
{{ row.task_sheet_row }}
</pre>
<p>
  This is a short-cut method to all of the cells on the task sheet in order.
</p>
<pre>
{{ row.parameters.*attribute* }}
</pre>
<p>
  parameters is a referencable list of the cells in this row. The dot after it
  followed by the name of a parameter in the experiment will return that
  attribute.
</p>
<p>
  The following are attributes which are created and populated by the Experiment
  Planning workflow
</p>
<pre>
{{ row.parameters.sample }} - the identifier of the teste sample
{{ row.parameters.method }} - the method this item is to
{{ row.parameters.source_plate }}
{{ row.parameters.source_row }}
{{ row.parameters.source_column }}
{{ row.parameters.slot_type }}
{{ row.parameters.test_plate }}
{{ row.parameters.test_column }}
</pre>
<h3>row.cdb_method</h3>
<p>
  The method is, in this case, the method taken from the CDB database and can be
  different for rows within the same task, or of the same sample.
  All of these parameters are taken directly from the methods table:
</p>
<pre>
{{row.method_settings}}
</pre>
<p>
  This will fill the contents of the settings for this rows method, leaving
  appropriate gaps to line up with the above method_settings_headers method.
</p>
<pre>
{{ row.cdb_method.settings.lab_tech }}
</pre>
<p>
  This will return an individual setting by name, or leave a gap if it is not known.
</p>
<pre>
{{ row.cdb_method.title }}
{{ row.cdb_method.type }}
{{ row.cdb_method.name }}
{{ row.cdb_method.description }}
{{ row.cdb_method.modification }}
{{ row.cdb_method.version }}
{{ row.cdb_method.id_method_ref }}
{{ row.cdb_method.method_id }}
{{ row.cdb_method.abbreviation }}
{{ row.cdb_method.method_title }}
{{ row.cdb_method.method_type }}
{{ row.cdb_method.method_class }}
{{ row.cdb_method.entry_date }}
{{ row.cdb_method.modificaiton_date }}
{{ row.cdb_method.expiration_date }}
{{ row.cdb_method.num_results }}
</pre>
<p>
  These are parameters directly taken from the methods table.
</p>
<h3>row.sample</h3>
<p>
  This is the stored properties of the sample as derived from the CDB database.
  All of these parameters are taken directly from the samples table or it's
  related tables:
</p>
<pre>
{{ row.sample.name }}
{{ row.sample.processed_flag }}
{{ row.sample.sample_id }}
{{ row.sample.sample_code }}
{{ row.sample.sample_batch }}
{{ row.sample.saltcode }}
{{ row.sample.development_code }}
{{ row.sample.sample_type }}
{{ row.sample.nbe_type }}
{{ row.sample.chemical_name }}
{{ row.sample.case_no }}
{{ row.sample.chemist }}
{{ row.sample.purpose }}
{{ row.sample.library_id }}
{{ row.sample.not_for_screening }}
{{ row.sample.amount_synth }}
{{ row.sample.amount_synth_unit }}
{{ row.sample.run_date_time }}
{{ row.sample.expriation_date }}
{{ row.sample.date_of_submission }}
{{ row.sample.modification_date }}
{{ row.sample.sample_batch_ris }}
{{ row.sample.transfer_date }}
{{ row.sample.id_lab_ref }}
{{ row.sample.id_intial_project_ref }}
{{ row.sample.id_expiration_scientist_ref }}
{{ row.sample.id_vendor_ref }}
{{ row.sample.vendor }}
{{ row.sample.id_sample_ref }}
{{ row.sample.mol_weight }}
{{ row.sample.formula }}
{{ row.sample.solubility }}
{{ row.sample.purity }}
{{ row.sample.boiling_poing }}
{{ row.sample.melting_point }}
{{ row.sample.rotation }}
{{ row.sample.analytic_number }}
{{ row.sample.structure_id }}
{{ row.sample.amino_acid_seq }}
{{ row.sample.smiles_code }}
</pre>
<h3>row.well</h3>
<p>
  This is the well within a plate, it could also be a tube in a rack, which has
  been checked in for this experiment (either individually or as part of a plate
  or an order).
</p>
<p>
  If the task sheet does not have rows called 'source_plate', 'source_row' and
  'source_column', or if these are not populated, this will not be found.
</p>
<pre>
{{ row.well.amount }}
{{ row.well.concentration }}
{{ row.well.concentration_unit }}
{{ row.well.formal_concentration }}
{{ row.well.plat_tube_barcode }}
{{ row.well.plate_code }}
{{ row.well.plate_col }}
{{ row.well.plate_row }}
{{ row.well.run_date_time }}
{{ row.well.solvent }}
{{ row.well.unit }}
{{ row.well.unit_text }}
{{ row.well.volume }}
{{ row.well.volume_unit }}
</pre>
</div>