<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@output_file_template).html_safe %>
<% end %>


<%= content_for :title do %>
  <%= t('new') %> <%= OutputFileTemplate.model_name.human %>
<% end %>

<%= render :partial => 'form' %>


