<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@output_file_template).html_safe %>
<% end %>

<%= content_for :title do %>
  <%= OutputFileTemplate.model_name.human %>: <%= @output_file_template.name %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= admin_breadcrumb(@output_file_template) %>
<% end %>

<div class="padded_div">
  <dl class='dl-horizontal'>
    <dt><%= OrderProfile.human_attribute_name :name %></dt>
    <dd><%= formatted_string(@output_file_template.name) %></dd>

    <dt><%= OrderProfile.human_attribute_name :length %></dt>
    <dd><%= formatted_string(@output_file_template.length) %></dd>
  </dl>
  <div class="padded_div">
    <pre><%= @output_file_template.content %></pre>
  </div>
</div>
