<%= form.fields_for @order do |order_form| %>
  <%= order_form.select :order_profile_id,
                        options_for_select(order_profile_options(@order.outline_queue),
                                           :selected => @order.order_profile_id),
                        {},
                        {:onchange => 'renew_form();'}
  %>

  <%= order_form.hidden_field(:outline_queue_id) %>

  <%
     check_links = "("
     check_links << link_to_function('All', "check_boxes('all');")
     check_links << ' | '
     check_links << link_to_function('None', "check_boxes('none');")
     check_links << ' | '
     check_links << link_to_function('Default', "check_boxes(#{@order.order_profile.reference_compounds.default.collect { |x| x.id }.to_json});")
     check_links << ")"
  %>

  <% if @order.order_profile.reference_compounds.none? %>
    <%= raw order_form.labelled_text OrderProfileSample.model_name.human(:count => 2),
                                     t('.no_reference_compounds') %>
  <% else %>
    <%= raw order_form.labelled_text OrderProfileSample.model_name.human(:count => 2) %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th><%= CdbSample.human_attribute_name(:name) %></th>
          <th>
            <%= OrderProfileSample.human_attribute_name(:selected) %>
            <%= raw(check_links) %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_profile.reference_compounds.each do |reference_compound| %>
          <tr>
            <td><%= reference_compound.name %></td>
            <td>
              <%= check_box_tag "cart[order][reference_compound_ids_to_create][#{reference_compound.id}]",
                                'true',
                                reference_compound.default,
                                {:id => "check_#{reference_compound.id}"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= form.submit t('.order'), :name => :submit_order %>
  <%= link_to_cancel queue_carts_url(:id => @cart) %>
<% end %>
<script type=text/javascript>
  function check_boxes(selection) {
    var id;
    if (selection == 'all') {
      jQuery('input:checkbox').prop('checked', true);
    }
    else if (selection == 'none') {
      jQuery('input:checkbox').prop('checked', false);
    }
    else {
      jQuery('input:checkbox').prop('checked', false);
      selection.each(function (id) {
        jQuery('#check_' + id).prop('checked', true);
      });
    }
  }

  function renew_form() {
    jQuery.get(
      '/queue_items/carts/<%= params[:id] %>/renew_form',
      jQuery('form.form-horizontal').serialize(),
      function (response) {
        jQuery('#actions_holder').html(response);
      },
      'html'
    )
  }

  <%= render :partial => 'shared/ajax_javascripts' %>
</script>