<ul class="nav nav-tabs" id="myTab">
  <li class='<%= @tab==0 ? "active" : "" %>'>
    <a href="#action_bulk_update" data-toggle="tab"><%= t('.bulk_update') %></a></li>
  <li class='<%= @tab==1 ? "active" : "" %>'>
    <a href="#action_task" data-toggle="tab"><%= t('.create_experiment') %></a></li>
  <li class='<%= @tab==2 ? "active" : "" %>'>
    <a href="#action_request" data-toggle="tab"><%= t('.create_request') %></a>
  </li>

</ul>
<div class="tab-content">
  <br/>
  <div class="tab-pane <%= @tab==0 ? "active" : "" %>" id="action_bulk_update">
    <%= render :partial => 'action_bulk_update', :locals => {:form => form} %>
  </div>
  <div class="tab-pane <%= @tab==1 ? "active" : "" %>" id="action_task">
    <%= render :partial => 'action_new_task', :locals => {:form => form} %>
  </div>
  <div class="tab-pane <%= @tab==2 ? "active" : "" %>" id="action_request">
    <%= render :partial => 'action_new_request', :locals => {:form => form} %>
  </div>

</div>


