<!-- params: items, query_id, model_name, queue_id, states, show_actions -->

<table class="table table-striped table-hover">
  <tr>
    <%= content_tag :th, t('num') %>
    <%= content_tag :th,QueueItem.human_attribute_name(:name) %>
    <%= content_tag :th, t('.tested') %>
    <%= content_tag :th, t('activerecord.models.request') %>
    <%= content_tag :th, t('activerecord.models.state.one') %>
    <%= content_tag :th, t('activerecord.attributes.queue_item.priority_id') %>
    <% unless defined? show_actions and show_actions == false %>
      <%= content_tag :th, t('activerecord.attributes.role_permission.action') %>
    <% end %>
  </tr>
  <% logger.info "number of items #{items.size} --------------------------------------------------------------------------" %>
  <% items.sort { |x, y| x.data_name <=> y.data_name }.each_with_index do |queue_item, idx| %>

    <% if queue_item.request %>
      <tr id="<%= queue_item.dom_id %>">
        <th><%= idx + 1%></th>
        <td><span title="ID #<%= queue_item.id %>"><%= queue_item.name %></span></td>
        <%= hidden_field_tag "items[#{idx}]", queue_item.id %>
        <%= content_tag :td, queue_item.result_task_name %>
        <%= content_tag :td, link_to(queue_item.request.name, request_path(queue_item.request_id)) %>
        <%= content_tag :td, queue_item.state_name %>
        <%= content_tag :td, queue_item.priority %>
        <% unless defined? show_actions and show_actions == false %>
          <%= content_tag :td, link_to_function(t('Remove'), "$('#{queue_item.dom_id}').remove();") %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
