<% biorails_form_for(@cart,
                     :url => queue_cart_path(@cart),
                     :method => 'PUT',
                     :hide_required_fields => true,
                     :skip_form_wrapper => true) do |form| %>
  <%= render :partial => 'cart_actions', :locals => {:form => form} %>
<% end %>