<% content_for :messages do -%>
  <%= render :partial => 'shared/messages', :locals => {:objects => ['cart', 'task', 'user_request', 'list']} %>
<% end %>

<%= content_for :breadcrumb do %>
  <%= breadcrumbs(@project_folder.self_and_ancestors).html_safe if defined? @project_folder %>
<% end %>

<%= content_for :title do %>
  <%= @project_folder.element_type %>: <%= @project_folder.name %>  : Cart
<% end %>


<%= biorails_form_for(@cart,
                      :url => queue_cart_path(@cart),
                      :method => 'PUT') do |form| %>

  <%= render :partial => 'queue_items', :locals => {:items => @cart.list} %>
  <%= portlet_box "Possible Actions" do %>
    <div id='actions_holder'>
      <%= render :partial => 'cart_actions', :locals => {:form => form} %>
    </div>

  <% end %>

<% end %>

