
<%= if order_profile.solid?
      render :partial => 'orders/form_items_dry', :locals => {:f => f, :order_profile => order_profile}
    elsif order_profile.standard_liquid?
      render :partial => 'orders/form_items_standard_liquid', :locals => {:f => f}
    elsif order_profile.custom_liquid?
      render :partial => 'orders/form_items_custom_liquid', :locals => {:f => f, :order_profile => order_profile}
    elsif order_profile.dissolution?
      render :partial => 'orders/form_items_dissolution', :locals => {:f => f}
    elsif order_profile.subways?
      render :partial => 'orders/form_items_subways', :locals => {:f => f, :order_profile => order_profile}
    end
%>
