<%= biorails_form_for(@order, url: experiment_orders_url(@task.id)) do |form| %>

    <%= form.labelled_text :task, @task.name%>
    <%= form.labelled_text :items, @task.queue_items.count%>

    <%= form.hidden_field :task_id %>
    <%= form.hidden_field :outline_queue_id %>

    <%= form.select :order_profile_id, options_for_select(order_profile_options(@outline_queue), :selected => @order.order_profile_id), {}, {id: 'order_profile_select'} %>

    <%= form.labelled_text OrderProfile.human_attribute_name(:amount_display), @order_profile.amount_display %>

    <% unless @order_profile.dissolution? %>
        <%= form.select :use_internal_recipient,
                        [
                                ['Internal', true],
                                ['External', false]
                        ],
                        {},
                        {:onchange => "switch_internal_external(); "} %>


        <div id='internal'>
          <%= form.combo_for_model :recipient_user_id, User, :required => true %>
        </div>
        <div id='external' style='display: none'>
          <%= form.combo_for_model :coasts_external_recipient_id, CoastsExternalRecipient, :required => true %>
        </div>
    <% end %>

    <%= render partial: 'cart_item_details', locals: {order_profile: @order_profile, f: form}%>
    <%= form.submit 'Order', :name => :submit_order %>
<%end%>

<script type=text/javascript>
    <%= render :partial => 'shared/ajax_javascripts' %>
    jQuery( "#order_profile_select").change(function() {reload_form(); } );
</script>

