<%= content_for :local_navigation do %>
  <%= toolbar_menu_actions(@task).html_safe %>
<% end %>

<%= content_for :title do %>
  <%= @task.element_type.name %>: <%= @task.name %> - <%= t('.title') %>
<% end %>

<%= content_for :breadcrumb do %>
  <% breadcrumb = @task.project_element.self_and_ancestors %>
  <%= breadcrumbs(breadcrumb).html_safe %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= Order.human_attribute_name(:name) %></th>
      <th><%= Order.human_attribute_name(:created_at) %></th>
      <th><%= Order.human_attribute_name(:coast_order_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.name, order_path(order) %></td>
        <td><%= long_date(order.created_at) %></td>
        <td><%= link_to order.coasts_order_id, order.coasts_order_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>