<%= content_for :title do %>
    <h1><%= t('title.new', :name => Order.name) %> <%= @task.element_type_name %>: <%= @task.name %> </h1>
<% end %>


<%= content_for :breadcrumb do %>
    <%= breadcrumbs(@task.folder.self_and_ancestors).html_safe %>
<% end %>

<div class="portlet">
   <div id='content'>
     <%= render partial: 'order_form' %>
   </div>
</div>

<script type=text/javascript>

    function reload_form() {
        jQuery.ajax({
            url : '<%=renew_form_experiment_orders_path(@task)%>?order_profile_id='+jQuery("#order_profile_select").val(),
            type: 'GET',
            success: function(data){
                jQuery('#content').html(data);
            }
        });
    }

    function switch_internal_external()
    {
        if (jQuery('#order_use_internal_recipient').val()=='true')
        {
            jQuery('#internal').removeAttr('style')
            jQuery('#external').attr('style', 'display: none')
        }
        else
        {
            jQuery('#internal').attr('style', 'display: none')
            jQuery('#external').removeAttr('style')
        }
    }
</script>

<% content_for :ext_on_ready do %>
    jQuery( "#order_profile_select").change(function() {reload_form(); } );
<% end %>